Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 80%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

chore: apply pre-commit fixes
  alembic/README
  configure_environment.sh
  docs/EDUCATIONAL_FRONTEND_DESIGN.md
  docs/MODERN_DESIGN_TESTING.md
  docs/architecture/2025-11-21-architecture-decisions.md
  docs/architecture/STRATEGIC_VISION_AND_ARCHITECTURE.md
  docs/archive/README.md
  docs/archive/pipeline/historical/2025-11-19_README.md
  docs/archive/pipeline/historical/2025-11-19_ROADMAP.md
  docs/archive/pipeline/historical/2025-11-20_README.md
  docs/overview/2025-11-21-tech-spec.md
  docs/overview/strategy/2025-11-20_roadmap.md
  docs/planning/2025-11-21-prd.md
  docs/planning/IMPLEMENTATION_ROADMAP.md
  docs/testing/legacy/2025-11-20_readme.md
  docs/workflows/tokens_legacy/2025-11-20_token_reference.md
  src/copy_that/pipeline/generator/templates/w3c.j2
  src/copy_that/pipeline/validation/agent.py
  tests/e2e/test_color_pipeline_e2e.py
  tests/infrastructure/test_deployment_config.py
  tests/integration/test_end_to_end.py
  tests/scripts/celery_diagnostics.sh
  tests/scripts/minimal_celery_test.sh
  tests/scripts/run_celery_test.sh
  tests/scripts/simple_celery_test.sh
  tests/scripts/test_e2e_session5.py
  tests/unit/test_color_aggregator.py
  tests/unit/test_color_pipeline_comprehensive.py
  tests/unit/test_constants.py
  tests/visual/test_visual.py
Due: unit, integration

fix: align color pipeline API and e2e tests
  src/copy_that/application/color_utils.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/tokens/color/aggregator.py
  tests/e2e/test_color_pipeline_e2e.py
Due: unit, integration, API Layer, Application Services

chore: avoid duplicate lint jobs on PRs
  .github/workflows/ci.yml
Due: none

chore: apply latest ruff formatting
  tests/infrastructure/test_deployment_config.py
  tests/integration/test_end_to_end.py
  tests/scripts/test_e2e_session5.py
  tests/unit/test_color_aggregator.py
  tests/visual/test_visual.py
Due: none

chore: align ruff version and format tests
  .pre-commit-config.yaml
Due: none

feat: enhance validation and generator outputs
  src/copy_that/pipeline/generator/agent.py
  src/copy_that/pipeline/generator/diff.py
  src/copy_that/pipeline/generator/templates/figma.j2
  src/copy_that/pipeline/validation/agent.py
  src/copy_that/pipeline/validation/quality.py
  tests/unit/pipeline/generator/test_agent.py
  tests/unit/pipeline/generator/test_diff.py
  tests/unit/pipeline/validation/test_agent.py
  tests/unit/pipeline/validation/test_quality.py
Due: unit, integration

docs: add session 0-6 cleanup summary
  docs/planning/sessions/session-0-6-cleanup.md
Due: none

chore: silence spacing mypy errors and fix harmony typing
  pyproject.toml
  src/copy_that/pipeline/validation/quality.py
Due: unit, integration

feat: enrich demos, figma CLI, and docs
  CHANGELOG.md
  README.md
  docs/planning/sessions/session-0-6-cleanup.md
  scripts/generate_figma_tokens.py
  src/copy_that/generators/html_demo_generator.py
  tests/unit/pipeline/generator/test_cli_figma.py
Due: unit, integration

chore: fix multi-extract typing
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/projects.py
  src/copy_that/interfaces/api/snapshots.py
Due: unit, integration, API Layer, Application Services

chore: fix project decode and typing
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/projects.py
Due: unit, integration, API Layer

chore: skip cv prepass on url failure
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

test: cover spacing generators
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  tests/unit/application/test_spacing_cv_extractor.py
  tests/unit/application/test_spacing_extractor.py
  tests/unit/application/test_spacing_utils.py
  tests/unit/generators/test_spacing_generators.py
  tests/unit/interfaces/api/test_multi_extract.py
Due: unit, integration, Application Services

test: exercise aggregation and orchestrator flows
  CHANGELOG.md
  docs/architecture/2025-11-24_architecture_parity_check.md
  tests/unit/pipeline/aggregation/test_agent.py
  tests/unit/pipeline/orchestrator/test_agent_pool.py
  tests/unit/pipeline/orchestrator/test_circuit_breaker.py
  tests/unit/pipeline/orchestrator/test_coordinator.py
Due: none

test: cover validation helpers
  tests/unit/pipeline/validation/test_accessibility.py
  tests/unit/pipeline/validation/test_agent.py
  tests/unit/pipeline/validation/test_quality.py
Due: none

test: cover token generators
  CHANGELOG.md
  tests/unit/generators/test_token_generators.py
Due: none

test: add extraction + infra coverage
  CHANGELOG.md
  tests/unit/infrastructure/test_cache_celery.py
  tests/unit/pipeline/extraction/test_schemas_prompts_agent.py
  tests/unit/pipeline/test_exceptions.py
Due: none

test: cover aggregation agent
  CHANGELOG.md
  tests/unit/pipeline/aggregation/test_agent.py
Due: none

chore: relax coverage requirement
  README.md
  codecov.yml
Due: none

fix: satisfy mypy for cv extractor
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

test: ensure multi-extract stream works without openai key
  tests/unit/interfaces/api/test_multi_extract.py
Due: none

fix: mypy compatibility for cv color extractor
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

test: simplify preprocessing unit tests
  tests/unit/pipeline/preprocessing/test_downloader.py
  tests/unit/pipeline/preprocessing/test_enhancer.py
  tests/unit/pipeline/preprocessing/test_validator.py
Due: none

fix: satisfy mypy for cv color extractor
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

fix: tighten typing for cv extractors
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/pipeline/aggregation/agent.py
Due: unit, integration, Application Services

chore: silence mypy missing sklearn cluster
  src/copy_that/pipeline/aggregation/agent.py
Due: unit, integration

fix: relax palette typing for uv env
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

test: add token smoke test
  tests/token_smoke_test.py
Due: none

feat: add token model and repository
  src/core/__init__.py
  src/core/tokens/__init__.py
  src/core/tokens/model.py
  src/core/tokens/repository.py
  tests/core/tokens/test_repository.py
Due: unit, integration

feat: add W3C adapter for color tokens
  src/core/tokens/adapters/__init__.py
  src/core/tokens/adapters/w3c.py
  tests/core/tokens/adapters/test_w3c.py
Due: unit, integration

feat: store CV colors in token repository
  src/copy_that/application/cv/color_cv_extractor.py
  src/core/tokens/color.py
  tests/application/cv/test_color_cv_extractor_tokens.py
Due: unit, integration, Application Services

feat: add shadow and typography token helpers
  src/core/tokens/shadow.py
  src/core/tokens/typography.py
  tests/core/tokens/test_shadow_typography.py
Due: unit, integration

feat: extend W3C adapter for shadow and typography
  src/core/tokens/adapters/w3c.py
  tests/core/tokens/adapters/test_w3c.py
Due: unit, integration

feat: add CV preprocessing module
  pyproject.toml
  src/cv_pipeline/__init__.py
  src/cv_pipeline/preprocess.py
  tests/cv_pipeline/test_preprocess.py
Due: unit, integration

feat: add primitive detection helpers
  src/cv_pipeline/primitives.py
  tests/cv_pipeline/test_primitives.py
Due: unit, integration

feat: add control classifier stub
  src/cv_pipeline/control_classifier.py
  tests/cv_pipeline/test_control_classifier.py
Due: unit, integration

feat: add panel layout graph metrics
  src/layout/__init__.py
  src/layout/layout_graph.py
  src/layout/metrics.py
  tests/layout/test_layout_graph.py
  tests/layout/test_metrics.py
Due: unit, integration

feat: add typography recommender
  src/typography/__init__.py
  src/typography/recommender.py
  tests/typography/test_recommender.py
Due: unit, integration

feat: add panel image pipeline
  README.md
  docs/architecture/token_graph.md
  src/pipeline/__init__.py
  src/pipeline/panel_to_tokens.py
  tests/pipeline/test_panel_to_tokens.py
Due: unit, integration
