Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 50%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 50%
      - type: patch
        target: 50%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Enhance shadow extraction and W3C layering
  src/copy_that/application/shadow_extractor.py
  tests/unit/application/test_shadow_extractor.py
  tests/unit/core/test_w3c_adapter_shadow_layers.py
Due: unit, integration, Application Services

Improve typography rhythm inference and W3C line-height refs
  src/copy_that/application/cv/typography_cv_extractor.py
  src/core/tokens/adapters/w3c.py
  tests/unit/application/test_typography_baseline.py
  tests/unit/core/test_w3c_adapter_roundtrip_all_tokens.py
Due: unit, integration, Application Services

Fix typecheck issues after merge
  src/copy_that/application/cv/typography_cv_extractor.py
  src/copy_that/services/colors_service.py
  src/core/tokens/adapters/w3c.py
Due: unit, integration, Application Services

Fix lint in merged tests
  src/pipeline/panel_to_tokens.py
  tests/unit/application/test_color_contrast_metadata.py
  tests/unit/application/test_spacing_debug_overlays.py
Due: unit, integration

Enhance spacing pipeline with depth and layout support
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/layoutlab/__init__.py
  src/copy_that/layoutlab/depth_estimator.py
  src/copy_that/layoutlab/layout_detector.py
  src/copy_that/tools/synthetic_layout_generator.py
  src/core/tokens/adapters/w3c.py
  tests/unit/application/test_depth_spacing_classification.py
  tests/unit/application/test_text_baseline_spacing.py
  tests/unit/core/test_w3c_spacing_adapter.py
  tests/unit/layoutlab/test_layout_detector.py
  tests/unit/tools/test_synthetic_layout_generator.py
Due: unit, integration, Application Services

Add elevation tokens and grid layout export
  src/copy_that/layoutlab/__init__.py
  src/copy_that/layoutlab/elevation_tokens.py
  src/core/tokens/adapters/w3c.py
  tests/core/tokens/adapters/test_w3c_layout_grid_export.py
  tests/unit/layoutlab/test_elevation_tokens.py
Due: unit, integration

Add shape inference for radius/border and grid tweaks
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/layoutlab/__init__.py
  src/copy_that/layoutlab/shape_inference.py
  tests/unit/layoutlab/test_shape_inference.py
Due: unit, integration, Application Services

Preserve shape metadata in token graph
  src/copy_that/application/spacing_utils.py
  tests/unit/application/test_token_graph.py
Due: unit, integration, Application Services

Support border and radius in layout W3C export
  src/core/tokens/adapters/w3c.py
  tests/core/tokens/adapters/test_w3c_layout_border_radius_export.py
Due: unit, integration

Add layout token visualization panel
  frontend/src/config/tokenTypeRegistry.tsx
  frontend/src/features/visual-extraction/components/layout/LayoutTokenPanel.css
  frontend/src/features/visual-extraction/components/layout/LayoutTokenPanel.tsx
  frontend/src/store/tokenGraphStore.ts
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/layoutlab/__init__.py
  src/copy_that/layoutlab/depth_estimator.py
  src/copy_that/layoutlab/elevation_tokens.py
  src/copy_that/layoutlab/layout_detector.py
  src/copy_that/layoutlab/shape_inference.py
  src/copy_that/tools/synthetic_layout_generator.py
  src/core/tokens/adapters/w3c.py
  tests/core/tokens/adapters/test_w3c_layout_border_radius_export.py
  tests/core/tokens/adapters/test_w3c_layout_grid_export.py
  tests/unit/api/test_elevation_tokens_repo.py
  tests/unit/api/test_shape_tokens_from_graph.py
  tests/unit/application/test_depth_spacing_classification.py
  tests/unit/application/test_grid_inference_snap.py
  tests/unit/application/test_text_baseline_spacing.py
  tests/unit/application/test_token_graph.py
  tests/unit/core/test_w3c_spacing_adapter.py
  tests/unit/layoutlab/test_elevation_tokens.py
  tests/unit/layoutlab/test_layout_detector.py
  tests/unit/layoutlab/test_shape_inference.py
  tests/unit/tools/test_synthetic_layout_generator.py
Due: unit, integration, API Layer, Application Services

Fix type checks after merge
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/layoutlab/shape_inference.py
  src/copy_that/tools/synthetic_layout_generator.py
  src/core/tokens/adapters/w3c.py
Due: unit, integration, Application Services

Fix gutter snap typing
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Fix gutter snap typing in spacing extractor
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Fix gutter snap value typing
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Fix lint issues in layoutlab and tests
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/layoutlab/__init__.py
  src/copy_that/layoutlab/depth_estimator.py
  src/copy_that/layoutlab/elevation_tokens.py
  src/copy_that/layoutlab/layout_detector.py
  tests/unit/api/test_elevation_tokens_repo.py
  tests/unit/api/test_shape_tokens_from_graph.py
  tests/unit/application/test_text_baseline_spacing.py
  tests/unit/layoutlab/test_shape_inference.py
Due: unit, integration, API Layer

Update pipeline stages and e2e extraction waits
  frontend/src/components/PipelineStageIndicator.tsx
  frontend/src/features/upload/UploadPanel.tsx
  frontend/tests/playwright/color-detail-panel.spec.ts
  frontend/tests/playwright/diagnostics-panel.spec.ts
  frontend/tests/playwright/extraction.spec.ts
  frontend/tests/playwright/helpers/workflows.ts
  frontend/tests/playwright/lighting-analysis.spec.ts
  frontend/tests/playwright/shadow-tokens.spec.ts
  frontend/tests/playwright/summary_chips.spec.ts
  frontend/tests/playwright/tabs_layout.spec.ts
  frontend/tests/playwright/token-data-points.spec.ts
Due: none

Implement typography token pipeline
  alembic/versions/2025_12_18_add_typography_style_alignment.py
  alembic/versions/2025_12_19_merge_heads.py
  frontend/src/features/visual-extraction/adapters/TypographyVisualAdapter.tsx
  frontend/src/features/visual-extraction/components/typography/TypographyCards.tsx
  frontend/src/features/visual-extraction/components/typography/TypographyInspector.tsx
  frontend/src/features/visual-extraction/components/typography/typography-detail-card/TokenCard.tsx
  frontend/src/features/visual-extraction/components/typography/typography-detail-card/hooks.ts
  frontend/src/features/visual-extraction/components/typography/typography-detail-card/types.ts
  frontend/src/types/index.ts
  frontend/src/types/tokens.ts
  src/copy_that/application/ai_typography_extractor.py
  src/copy_that/application/cv/typography_cv_extractor.py
  src/copy_that/application/perf.py
  src/copy_that/application/presentation/typography.py
  src/copy_that/application/typography_extractor.py
  src/copy_that/domain/typography.py
  src/copy_that/extractors/typography/ai_extractor.py
  src/copy_that/extractors/typography/cv_extractor.py
  src/copy_that/infrastructure/persistence/models.py
  src/copy_that/infrastructure/persistence/repositories/typography_tokens.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/typography.py
  src/copy_that/services/typography_recommendation.py
  src/copy_that/services/typography_service.py
  src/core/tokens/adapters/w3c.py
  src/core/tokens/typography.py
Due: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

Add geometry extraction with MPS normals
  scripts/compare_geometry_outputs.py
  src/copy_that/extractors/geometry/__init__.py
  src/copy_that/extractors/geometry/depth_normals.py
  src/copy_that/extractors/geometry/geometry_models.py
  src/copy_that/extractors/geometry/normals_from_depth.py
  src/copy_that/extractors/geometry/profile.py
  src/copy_that/interfaces/api/app_factory.py
  src/copy_that/interfaces/api/geometry.py
Due: unit, integration, API Layer

Fix geometry API numpy typing
  src/copy_that/interfaces/api/geometry.py
Due: unit, integration, API Layer

Fix mypy pre-push checks
  src/copy_that/design_tokens/resolver.py
  src/copy_that/design_tokens/validation.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/typography.py
Due: unit, integration, API Layer

Fix error payload typing
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

Public snapshot (1/6): root metadata
  .dockerignore
  .env.example
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  DOCUMENTATION_INDEX.md
  Dockerfile
  Dockerfile.cloudrun
  Dockerfile.debug
  Dockerfile.frontend
  MONTHLY_DOCUMENTATION_REVIEW_CHECKLIST.md
  Makefile
  README.md
  alembic.ini
  codecov.yml
  configure_environment.sh
  docker-compose.debug.yml
  docker-compose.yml
  eslint.config.js
  package.json
  playwright.config.py
  pnpm-lock.yaml
  pnpm-workspace.yaml
  pyproject.toml
  requirements.txt
  tsconfig.json
  tsconfig.node.json
  uv.lock
  vite.config.ts
Due: none

Add MIT LICENSE and fix public README badges.
  LICENSE
  README.md
Due: none

Drop unsupported Claude temperature kwarg for newer Anthropic SDK.
  src/copy_that/services/mood_board_generator.py
Due: unit, integration

Optimize CI/CD: one badge workflow, PR-only tiered, release-only Docker.
  .github/workflows/build.yml
  .github/workflows/ci-tiered.yml
  .github/workflows/ci.yml
Due: none

Point CI/frontend lint at frontend/ to avoid empty root tsconfig.
  .github/workflows/ci-tiered.yml
  .github/workflows/ci.yml
  package.json
Due: none

Pare Actions to CI + bare Docker smoke; drop Cloud Run auto-deploy.
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/docker-smoke.yml
  README.md
  docs/setup/deployment_options.md
Due: none

Document secret reporting and history-exposure rotation.
  SECURITY.md
Due: none

Align frontend ESLint to v9 with flat config.
  frontend/.eslintrc.cjs
  frontend/eslint.config.js
  frontend/package.json
  pnpm-lock.yaml
Due: none

Relax frontend ESLint backlog rules to warn for CI.
  frontend/eslint.config.js
Due: none

Fix CI Test Suite: decouple dep, bcrypt pin, and stale unit assertions.
  pyproject.toml
  src/copy_that/application/color_utils.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/layoutlab/shape_inference.py
  tests/unit/api/test_p2a_layout_opacity_export.py
  tests/unit/application/test_shadow_extraction.py
  tests/unit/application/test_spacing_measurement_lane_smoke.py
  tests/unit/application/test_typography_baseline.py
  tests/unit/core/test_w3c_adapter_roundtrip_all_tokens.py
  uv.lock
Due: unit, integration, Application Services

Fix remaining CI tests for FastAPI mounts and layout dimension export.
  tests/integration/test_end_to_end.py
  tests/unit/api/test_p2a_layout_opacity_export.py
Due: none

Format end-to-end route helper for Ruff CI check.
  tests/integration/test_end_to_end.py
Due: none

Host the static explainer on GitHub Pages from site/.
  .github/workflows/pages.yml
  .gitignore
  README.md
  docs/setup/deployment_options.md
  site/README.md
  site/assets/drift-plugin.png
  site/assets/field-notes-app.png
  site/assets/fieldwork-application.png
  site/assets/fieldwork-components.png
  site/assets/fieldwork-foundations.png
  site/assets/grove-app.png
  site/assets/synth-panel-floral.jpg
  site/assets/synth-panel-module.jpg
  site/assets/synth-panel-orange.jpg
  site/assets/synth-panel-pedal.jpg
  site/assets/tideline-app.png
  site/index.html
  site/script.js
  site/style.css
Due: none
