Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

Refactor API routers and fix broad exception handling (Issues #3 & #4)
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/projects.py
  src/copy_that/interfaces/api/snapshots.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/interfaces/api/validators.py
  src/copy_that/services/colors_service.py
Due: unit, integration, API Layer

Fix type annotation and test imports
  src/copy_that/services/colors_service.py
  tests/unit/interfaces/api/test_color_role_aliases.py
Due: unit, integration

Fix test imports for sanitize_numbers
  tests/unit/interfaces/api/test_multi_extract.py
Due: none

Fix test to comply with image dimension validation
  tests/unit/interfaces/api/test_colors.py
Due: none

Update all test images to minimum 16x16 dimensions
  docs/copy-that-code-review-issues.md
  tests/unit/interfaces/api/test_colors.py
Due: none

Fix test images to comply with 16x16 minimum dimension validation
  docs/copy-that-code-review-issues.md
  frontend/tests/playwright/fixtures/sample.png
  tests/e2e/test_color_pipeline_e2e.py
Due: none

Implement test suite performance optimization (Issue #19)
  pyproject.toml
  tests/e2e/test_color_extraction_e2e.py
  tests/e2e/test_color_pipeline_e2e.py
Due: none

Standardize logging practices (Issue #8)
  src/copy_that/application/color_extractor.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer, Application Services

Update code review document with status indicators and Issue #20
  docs/copy-that-code-review-issues.md
Due: none

Add comprehensive spacing API tests (Issue #5)
  docs/copy-that-code-review-issues.md
  tests/unit/api/test_spacing_api.py
Due: none

Finalize development setup and rate limiting integration (Issue #20)
  .github/workflows/ci-tiered.yml
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  docs/copy-that-code-review-issues.md
  eslint.config.js
  package.json
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/rate_limiting.py
  tests/unit/interfaces/api/test_multi_extract.py
  tests/unit/interfaces/api/test_rate_limiting.py
Due: unit, integration, API Layer, Infrastructure

Update pnpm-lock.yaml to match package.json changes
  pnpm-lock.yaml
Due: none

Fix ESLint configuration and linting issues for CI compatibility
  eslint.config.js
  frontend/package.json
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/ColorsTable.tsx
  frontend/src/components/DiagnosticsPanel.tsx
  frontend/src/components/RelationsDebugPanel.tsx
  frontend/src/components/ShadowInspector.tsx
  frontend/src/components/SpacingGraphList.tsx
  frontend/src/components/SpacingScalePanel.tsx
  frontend/src/components/SpacingTable.tsx
  frontend/src/components/TokenInspector.tsx
  frontend/src/components/TypographyCards.tsx
  frontend/src/components/TypographyInspector.tsx
  frontend/src/components/__tests__/SessionCreator.test.tsx
  frontend/src/store/tokenGraphStore.ts
  package.json
Due: none

Regenerate pnpm-lock.yaml with pnpm v8 for CI compatibility
  pnpm-lock.yaml
Due: none

✅ Validate and mark Issue #10 (TypeScript Strict) and Issue #11 (Rate Limiting) as complete
  docs/copy-that-code-review-issues.md
Due: none

📚 Add comprehensive W3C design tokens implementation analysis
  docs/DESIGN_TOKENS_QUICK_REFERENCE.md
  docs/DESIGN_TOKENS_W3C_STATUS.md
Due: none

📋 Add shadow token infrastructure and W3C implementation analysis
  docs/DESIGN_TOKENS_QUICK_REFERENCE.md
  docs/DESIGN_TOKENS_W3C_STATUS.md
  docs/SHADOW_TOKENS_IMPLEMENTATION_PLAN.md
  docs/copy-that-code-review-issues.md
  src/copy_that/application/ai_shadow_extractor.py
  src/copy_that/domain/models.py
  src/copy_that/services/shadow_service.py
Due: unit, integration, Domain Logic, Application Services

🔌 Implement shadow token extraction API and comprehensive tests
  alembic/versions/2025_12_02_add_shadow_tokens.py
  src/copy_that/interfaces/api/shadows.py
  tests/unit/api/test_shadows_api.py
Due: unit, integration, API Layer

📍 Add session pause point checkpoint (2025-12-02 Evening)
  docs/copy-that-code-review-issues.md
Due: none

🐛 Fix shadow token tests - SQLAlchemy 2.0 compatibility
  tests/unit/api/test_shadows_api.py
Due: none

📋 Mark shadow tokens Phase 1 as complete (100%)
  docs/copy-that-code-review-issues.md
Due: none

✨ Add shadow component CSS styling and import
  frontend/src/components/shadows/ShadowTokenList.css
  frontend/src/components/shadows/ShadowTokenList.tsx
Due: none

🐛 Add comprehensive shadow extraction logging for debugging
  frontend/src/App.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/components/shadows/ShadowTokenList.tsx
Due: none

🔧 Fix CORS configuration to allow frontend on port 5174
  src/copy_that/interfaces/api/main.py
Due: unit, integration, API Layer

🧹 Remove debug logging now that CORS issue is fixed
  frontend/src/App.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/components/shadows/ShadowTokenList.tsx
Due: none

📋 Document shadow token frontend integration - 100% complete
  docs/SHADOW_TOKENS_FRONTEND_COMPLETE.md
Due: none

🔧 Fix shadow extraction API to use proper tool_use pattern
  src/copy_that/application/ai_shadow_extractor.py
Due: unit, integration, Application Services

🌟 Complete shadow token extraction end-to-end integration
  docs/FRONTEND_SHADOW_SPACING_FIXES.md
  docs/SHADOW_TOKENS_PHASE_1_COMPLETION.md
  docs/copy-that-code-review-issues.md
  frontend/src/config/tokenTypeRegistry.tsx
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/shadows.py
  src/core/tokens/shadow.py
  test-shadow-extraction.html
Due: unit, integration, API Layer

🎭 Add Playwright E2E tests for shadow token extraction
  docs/copy-that-code-review-issues.md
  test-results/.last-run.json
  tests/playwright/shadow-extraction.spec.ts
  tests/playwright/shadow-ui-integration.spec.ts
Due: none

📋 Add session handoff documentation for context cleanup
  docs/SESSION_HANDOFF_2025-12-03.md
Due: none

🐳 Add frontend Docker deployment infrastructure
  Dockerfile.frontend
  deploy/local/nginx.conf
  docker-compose.yml
Due: none

🔧 Fix port conflicts and remove deprecated docker-compose version
  docker-compose.yml
Due: none

✨ Complete Lighting Analysis Feature - End-to-End Integration
  docs/LIGHTING_SHADOWS_E2E_TESTS.md
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/ImageUploader.tsx
  frontend/src/components/LightingAnalyzer.css
  frontend/src/components/LightingAnalyzer.tsx
  frontend/tests/playwright/lighting-analysis.spec.ts
  src/copy_that/interfaces/api/lighting.py
  src/copy_that/interfaces/api/main.py
Due: unit, integration, API Layer

🎭 Enhance Shadow & Spacing Extraction with Fallback Chains & E2E Tests
  frontend/tests/playwright/shadow-tokens.spec.ts
  src/copy_that/application/ai_shadow_extractor.py
  src/copy_that/application/cv_shadow_extractor.py
  src/copy_that/interfaces/api/shadows.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer, Application Services

📋 Update code review documentation and test results
  docs/copy-that-code-review-issues.md
  test-results/.last-run.json
Due: none

📦 Add shadowlab module for geometric shadow analysis
  src/copy_that/shadowlab/__init__.py
  src/copy_that/shadowlab/classical.py
  src/copy_that/shadowlab/depth_normals.py
  src/copy_that/shadowlab/eval.py
  src/copy_that/shadowlab/integration.py
  src/copy_that/shadowlab/intrinsic.py
  src/copy_that/shadowlab/tokens.py
  src/copy_that/shadowlab/visualization.py
  tests/unit/shadowlab/__init__.py
  tests/unit/shadowlab/test_classical.py
  tests/unit/shadowlab/test_eval.py
  tests/unit/shadowlab/test_tokens.py
Due: unit, integration

🔧 Fix frontend Docker build - nginx user and node_modules
  Dockerfile.frontend
Due: none

📝 Add deployment handoff and finalize frontend Dockerfile
  DEPLOYMENT_HANDOFF_2025_12_03.md
  Dockerfile.frontend
Due: none

🔧 Fix TypeScript build errors - enable Docker deployment
  frontend/src/App.tsx
  frontend/src/components/AdvancedColorScienceDemo.tsx
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/components/ColorDetailsPanel.tsx
  frontend/src/components/ColorGraphPanel.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/ColorsTable.tsx
  frontend/src/components/RelationsTable.tsx
  frontend/src/components/ShadowInspector.tsx
  frontend/src/components/SpacingTable.tsx
  frontend/src/components/TokenInspector.tsx
  frontend/src/components/TypographyInspector.tsx
  frontend/src/components/__tests__/SessionCreator.test.tsx
  frontend/src/config/tokenTypeRegistry.tsx
  frontend/src/store/tokenGraphStore.ts
  frontend/src/types/index.ts
  frontend/tsconfig.json
  test-results/.last-run.json
Due: none

🐳 Fix Docker deployment - Add OpenCV libs & fix nginx permissions
  Dockerfile
  Dockerfile.frontend
Due: none

Path conditions:
  unit: any of: src/
  integration: any of: src/
  API Layer: any of: src/copy_that/interfaces/api/**
  Domain Logic: any of: src/copy_that/domain/**
  Application Services: any of: src/copy_that/application/**
  Infrastructure: any of: src/copy_that/infrastructure/**
