Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 50%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 50%
      - type: patch
        target: 50%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

🐳 Fix Docker deployment - nginx config & health checks
  Dockerfile.frontend
  deploy/local/nginx.conf
  docker-compose.yml
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer

✨ Add OverviewNarrative component with art movement & emotional analysis
  HANDOFF_2025_12_03_SESSION_COMPLETE.md
  frontend/src/App.tsx
  frontend/src/components/OverviewNarrative.css
  frontend/src/components/OverviewNarrative.tsx
Due: none

🔧 Fix OverviewNarrative property names - use snake_case
  HANDOFF_2025_12_03_UI_IMPROVEMENTS.md
  frontend/src/components/OverviewNarrative.tsx
Due: none

🔧 Fix spacing API validation error - pass normalized tokens directly
  HANDOFF_2025_12_03_FIXES.md
  frontend/src/components/ColorDetailPanel.css
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer

📝 Update handoff - spacing fix verified and deployed
  HANDOFF_2025_12_03_FIXES.md
Due: none

🔧 Fix spacing token validation - handle usage list field correctly
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer

📝 Update handoff - document spacing validation fixes
  HANDOFF_2025_12_03_FIXES.md
Due: none

🔧 Fix spacing API validation - convert SpacingToken objects to dicts for Pydantic
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer

🎨 Fix Overview tab to show empty state until data is extracted
  docs/SHADOW_TOKENS_COMPLETION.md
  frontend/src/App.tsx
  src/copy_that/interfaces/api/design_tokens.py
  tests/unit/api/test_shadows_api.py
Due: unit, integration, API Layer

✅ Fix shadow extraction metadata test to handle CV fallback
  tests/unit/api/test_shadows_api.py
Due: none

Add typography and font token database models and migration
  alembic/versions/2025_12_03_add_typography_and_font_tokens.py
  docs/HANDOFF_TYPOGRAPHY_FONTS_20251203.md
  docs/TYPOGRAPHY_AND_FONT_TOKENS_PLAN.md
  src/copy_that/domain/models.py
Due: unit, integration, Domain Logic

Add AI/CV typography extractors and service layer
  src/copy_that/application/ai_typography_extractor.py
  src/copy_that/application/cv/typography_cv_extractor.py
  src/copy_that/services/typography_service.py
Due: unit, integration, Application Services

📝 Add Session 2 handoff - typography extractors & service layer complete
  docs/HANDOFF_TYPOGRAPHY_FONTS_20251203_SESSION2.md
Due: none

📖 Add comprehensive typography implementation guide for next session
  docs/TYPOGRAPHY_IMPLEMENTATION_GUIDE.md
Due: none

Fix typography API tests and add missing model columns
  src/copy_that/domain/models.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/main.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/typography.py
  tests/unit/api/test_typography_api.py
Due: unit, integration, API Layer, Domain Logic

Fix empty Spacing and Typography extraction panels
  frontend/src/App.tsx
  frontend/src/components/ImageUploader.tsx
Due: none

Fix spacing token extraction validation error
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/services/typography_service.py
  tests/unit/api/test_typography_api.py
Due: unit, integration, API Layer

Implement enhanced overview metrics system with elaborated design analysis
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/MetricsOverview.tsx
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/services/overview_metrics_service.py
  src/copy_that/services/tests/test_overview_metrics_e2e.py
Due: unit, integration, API Layer

Fix: Integrate elaborated metrics into existing design palette card layout
  frontend/src/components/MetricsOverview.tsx
Due: none

Fix: Restructure metrics into unified 'Your Design Palette' section
  frontend/src/components/MetricsOverview.tsx
Due: none

Refine: Update design insight cards to match target UI specification
  frontend/src/components/MetricsOverview.tsx
Due: none

Refactor: Transform cards to single-column linear layout with left border accent
  frontend/src/components/MetricsOverview.tsx
Due: none

Refactor: Integrate system insights into overview narrative
  frontend/src/components/MetricsOverview.tsx
Due: none

Refactor: Complete metrics inference overhaul with color-theory foundations
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/MetricsOverview.tsx
  src/copy_that/services/overview_metrics_service.py
  src/copy_that/services/tests/test_overview_metrics_e2e.py
Due: unit, integration

Feat: Add confidence scoring to all metrics classifications
  src/copy_that/services/overview_metrics_service.py
Due: unit, integration

Feat: Display confidence badges on metric cards in UI
  frontend/src/components/MetricsOverview.tsx
Due: none

Fix: Include confidence scores in metrics API response
  src/copy_that/interfaces/api/design_tokens.py
Due: unit, integration, API Layer

Fix: Add confidence field to API client type definitions for metrics
  frontend/src/api/client.ts
Due: none

Test: Add comprehensive integration tests for ImageUploader orchestrator
  frontend/src/components/image-uploader/__tests__/ImageUploader.integration.test.tsx
Due: none

Docs: Update ImageUploader completion summary with enhanced test coverage
  docs/ISSUE_9B_PHASE2_IMAGEUPLOADER_COMPLETION.md
Due: none

Docs: Update handoff document with commit details (f92b63c)
  docs/ISSUE_9B_HANDOFF.md
Due: none

Docs: Create comprehensive Tier 2 refactoring plan with Playwright tests
  TIER_2_REFACTORING_PLAN.md
Due: none

Docs: Add session summary for Tier 2 planning completion
  SESSION_SUMMARY_TIER2_PLANNING.md
Due: none

Docs: Expand Playwright tests to comprehensively cover all Tier 1 refactored components
  TIER_2_REFACTORING_PLAN.md
Due: none

Test: Add comprehensive Playwright tests for Tier 1 refactored components
  frontend/tests/playwright/color-detail-panel.spec.ts
  frontend/tests/playwright/diagnostics-panel.spec.ts
  frontend/tests/playwright/token-inspector.spec.ts
Due: none

Docs: Create comprehensive handoff document for Tier 2 implementation
  HANDOFF_ISSUE_9B_TIER2_PLANNING.md
Due: none

test: Fix DiagnosticsPanel Playwright tests - handle missing component gracefully
  frontend/tests/playwright/diagnostics-panel.spec.ts
Due: none

docs: Add comprehensive Tier 2 test results - 47/47 passing (100%)
  TIER_2_TEST_RESULTS.md
Due: none
