Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 50%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 50%
      - type: patch
        target: 50%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

docs: Add comprehensive visual gallery with process visualizations
  README.md
  docs/examples/aesthetics/lpi-input.jpg
  docs/examples/aesthetics/lpi-render.png
  docs/examples/aesthetics/retro-synth-render.png
  docs/examples/aesthetics/rpi-input.jpg
  docs/examples/aesthetics/rpi-render.png
  docs/examples/process/shadow-extracted.png
  docs/examples/process/shadow-illumination.png
  docs/examples/process/shadow-original.png
Due: none

docs: Simplify README - focus on extraction processes, complete tech stack
  README.md
  docs/examples/aesthetics/lpi-input.jpg
  docs/examples/aesthetics/lpi-render.png
  docs/examples/aesthetics/rpi-input.jpg
  docs/examples/aesthetics/rpi-render.png
Due: none

docs: Add Hybrid Neon-Analog and Retro Synth aesthetic examples
  README.md
  docs/examples/aesthetics/hybrid-neon-input.jpg
  docs/examples/aesthetics/hybrid-neon-render.png
  docs/examples/aesthetics/retro-synth-input.jpg
  docs/examples/aesthetics/retro-synth-render.png
Due: none

fix: Use lighter Retro Synth render variant (render_02)
  docs/examples/aesthetics/retro-synth-render.png
Due: none

docs: Add mood board generation examples (Material + Typography)
  README.md
  docs/examples/moodboards/material-output.png
  docs/examples/moodboards/source.png
  docs/examples/moodboards/typography-output.png
Due: none

docs: Add comprehensive session handoff for CI fixes and visual README
  SESSION_HANDOFF_2025_12_13_CI_README_WORKLOAD_IDENTITY.md
Due: none

feat: job-based execution for long-running workloads
  alembic/env.py
  alembic/versions/2025_12_17_add_jobs_table.py
  src/copy_that/application/execution/__init__.py
  src/copy_that/application/execution/async_executor.py
  src/copy_that/application/ports/jobs.py
  src/copy_that/application/use_cases/jobs.py
  src/copy_that/composition/container.py
  src/copy_that/domain/jobs.py
  src/copy_that/infrastructure/celery/app.py
  src/copy_that/infrastructure/celery/tasks.py
  src/copy_that/infrastructure/celery_config.py
  src/copy_that/infrastructure/execution/__init__.py
  src/copy_that/infrastructure/execution/celery_executor.py
  src/copy_that/infrastructure/persistence/models.py
  src/copy_that/infrastructure/persistence/repositories/jobs.py
  src/copy_that/interfaces/api/app_factory.py
  src/copy_that/interfaces/api/dependencies.py
  src/copy_that/interfaces/api/jobs.py
  src/copy_that/interfaces/api/lighting.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/shadows.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

feat: modernize W3C/DTCG token export
  docs/DESIGN_TOKENS_W3C_STATUS.md
  src/copy_that/application/batch_extractor.py
  src/copy_that/application/presentation/colors.py
  src/copy_that/application/presentation/shadows.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/sessions.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/interfaces/api/typography.py
  src/copy_that/services/colors_service.py
  src/copy_that/services/shadow_service.py
  src/core/tokens/adapters/w3c.py
  src/pipeline/panel_to_tokens.py
  tests/core/tokens/adapters/test_w3c_flatten.py
Due: unit, integration, API Layer, Application Services

refactor: unify UI primitives + semantics scaffolding
  frontend/src/App.tsx
  frontend/src/components/TokenPlaygroundDrawer.tsx
  frontend/src/components/image-uploader/ImageUploader.tsx
  frontend/src/components/image-uploader/hooks.ts
  frontend/src/components/ui/card/TokenCard.tsx
  frontend/src/components/ui/sidebar/PlaygroundSidebarUI.tsx
  frontend/src/components/ui/tabs/Tabs.tsx
  frontend/src/components/ui/tabs/tabs.semantics.ts
Due: none

docs: align documentation with refactored architecture
  docs/DESIGN_TOKENS_QUICK_REFERENCE.md
  docs/DESIGN_TOKENS_W3C_STATUS.md
  docs/TYPOGRAPHY_AND_FONT_TOKENS_PLAN.md
  docs/TYPOGRAPHY_IMPLEMENTATION_GUIDE.md
  docs/architecture/CURRENT_ARCHITECTURE_STATE.md
  docs/guides/DEVELOPMENT.md
  docs/launch/LAUNCH_CHECKLIST.md
  docs/planning/token-pipeline-planning/CROSS_REFERENCE_AND_PRODUCTION_READINESS.md
  docs/setup/database_setup.md
  docs/setup/start_here.md
  docs/shadow/TOKENS_COMPLETION.md
  docs/workflows/coloraide_integration.md
Due: none

feat: add token inspector UI
  frontend/src/components/ui/inspector/TokenInspector.css
  frontend/src/components/ui/inspector/TokenInspector.test.tsx
  frontend/src/components/ui/inspector/TokenInspector.tsx
Due: none

feat: add generator plugins for token exports
  src/copy_that/generators/plugins/__init__.py
  src/copy_that/generators/plugins/base.py
  src/copy_that/generators/plugins/css.py
  src/copy_that/generators/plugins/react.py
  src/copy_that/generators/plugins/registry.py
  src/copy_that/interfaces/api/design_tokens.py
Due: unit, integration, API Layer

chore: guard mood board enqueue when Celery is not configured
  src/copy_that/interfaces/api/mood_board.py
Due: unit, integration, API Layer

chore: improve mood board UX and status handling
  frontend/src/components/OverviewNarrative.css
  frontend/src/components/overview-narrative/MoodBoard.tsx
Due: none

fix: type annotate generator base for mypy
  src/copy_that/generators/plugins/base.py
Due: unit, integration

chore: satisfy mypy for react generator slots
  src/copy_that/generators/plugins/react.py
Due: unit, integration

chore: add migration checks and perf budgets
  .github/workflows/deploy.yml
  deploy/terraform/cloudrun.tf
  docs/architecture/12182025/12182025_ROADMAP.md
  docs/architecture/CODE_REVIEW_2025_12_18.md
  docs/deployment/DEPLOYMENT_GUIDE_GCP_CLOUDRUN.md
  docs/guides/DEVELOPMENT.md
  docs/performance/PERFORMANCE_BUDGETS.md
  scripts/check_migrations.sh
  src/copy_that/application/color_extractor.py
  src/copy_that/application/perf.py
  src/copy_that/application/shadow_extractor.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/extractors/__init__.py
  src/copy_that/extractors/spacing/extractor.py
  src/copy_that/generators/plugins/react.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/mood_board.py
Due: unit, integration, API Layer, Application Services

feat: add cost tracking persistence and gpu strategy
  .github/workflows/build.yml
  alembic/versions/5c0c8e8e7a2b_add_project_costs_table.py
  docs/deployment/DEPLOYMENT_GUIDE_GCP_CLOUDRUN.md
  docs/performance/GPU_STRATEGY.md
  docs/performance/PERFORMANCE_BUDGETS.md
  src/copy_that/application/color_extractor.py
  src/copy_that/application/cost_tracker.py
  src/copy_that/application/gpu.py
  src/copy_that/application/perf.py
  src/copy_that/application/shadow_extractor.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/infrastructure/cache/__init__.py
  src/copy_that/infrastructure/cache/extraction_cache.py
  src/copy_that/infrastructure/persistence/models.py
  src/copy_that/interfaces/api/admin.py
  src/copy_that/interfaces/api/app_factory.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/shadowlab/bdrar.py
  tests/unit/application/test_cost_tracker.py
  tests/unit/application/test_extraction_cache.py
  tests/unit/application/test_perf.py
Due: unit, integration, API Layer, Application Services, Infrastructure

chore: fix cache typing
  src/copy_that/infrastructure/cache/extraction_cache.py
Due: unit, integration, Infrastructure

refactor: scaffold app shell and feature panels
  frontend/src/App.tsx
  frontend/src/features/app-shell/AppShell.tsx
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/src/features/upload/UploadPanel.tsx
Due: none

refactor: integrate upload panel warnings and metrics
  frontend/src/App.tsx
  frontend/src/features/upload/UploadPanel.tsx
Due: none

refactor: expand token explorer and remove legacy uploader store
  frontend/src/components/image-uploader/ImageUploader.tsx
  frontend/src/components/image-uploader/hooks.ts
  frontend/src/features/explorer/TokenExplorer.tsx
Due: none

refactor: polish explorer and stabilize uploader tests
  frontend/src/App.tsx
  frontend/src/components/image-uploader/__tests__/ImageUploader.integration.test.tsx
  frontend/src/features/app-shell/AppShell.tsx
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/src/features/upload/UploadPanel.tsx
Due: none

chore: exclude tests from frontend typecheck
  frontend/tsconfig.json
Due: none

Fix shadowlab payload typing
  src/copy_that/interfaces/api/shadows.py
Due: unit, integration, API Layer

Update color diagnostics and token data points tests
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/ColorDetailPanel.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/tabs/DiagnosticsTab.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/tabs/HarmonyTab.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/types.ts
  frontend/test-results/playwright/results.xml
  frontend/tests/playwright/token-data-points.spec.ts
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-01-main.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-02-image-preview.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-03-extract-clicked.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-04-colors-overview.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-05-colors-accessibility.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-06-colors-properties.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-07-colors-names.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-08-colors-states.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-09-colors-harmony.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-10-colors-diagnostics.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-11-spacing.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-12-typography.png
  playwright-tests/2025-12-21-04-18-43/extraction-flow-exposes-token-data-points-and-captures-screens-13-shadows.png
Due: none

Add sweep-line spacing adjacency and confidence
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  tests/unit/application/test_alignment_detection.py
  tests/unit/application/test_spacing_base_inference.py
  tests/unit/application/test_spacing_cv_distance_candidates.py
Due: unit, integration, Application Services

Add offline test shims and robust spacing inference fallback
  pytest_asyncio/__init__.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  tests/conftest.py
  tests/unit/application/test_alignment_detection.py
  tests/unit/application/test_spacing_base_inference.py
  tests/unit/application/test_spacing_cv_distance_candidates.py
Due: unit, integration, Application Services

Improve extraction review flow
  docs/planning/advanced-spacing-extraction.md
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/RelationsTable.tsx
  frontend/src/components/TokenGraphPanel.tsx
  frontend/src/components/diagnostics-panel/ColorPalettePicker.tsx
  frontend/src/components/diagnostics-panel/OverlayPreview.tsx
  frontend/src/components/diagnostics-panel/SpacingDiagnostics.tsx
  frontend/src/components/overview-narrative/OverviewNarrative.tsx
  frontend/src/components/token-inspector/CanvasVisualization.tsx
  frontend/src/components/token-inspector/TokenList.tsx
  frontend/src/components/ui/inspector/TokenInspector.tsx
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/src/features/upload/UploadPanel.tsx
  frontend/src/features/visual-extraction/components/color/ColorsTable.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/ColorDetailPanel.css
  frontend/src/features/visual-extraction/components/color/color-detail-panel/ColorDetailPanel.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/tabs/DiagnosticsTab.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/tabs/NamingStylesTab.tsx
  frontend/src/features/visual-extraction/components/color/color-detail-panel/tabs/StateVariantsTab.tsx
  frontend/src/features/visual-extraction/components/spacing/SpacingRuler.tsx
  frontend/src/features/visual-extraction/components/spacing/SpacingTable.tsx
  frontend/src/features/visual-extraction/components/typography/TypographyCards.tsx
  frontend/src/features/visual-extraction/components/typography/TypographyInspector.tsx
  frontend/src/shared/components/TokenGraphDemo.tsx
  frontend/tests/playwright/helpers/mockApi.ts
  frontend/tests/playwright/helpers/workflows.ts
  frontend/tests/playwright/token-data-points.spec.ts
  test_images/components/IMG_8352.jpeg
  test_images/non-deadpan/IMG_8329.jpeg
  test_images/non-deadpan/IMG_8440.jpeg
  test_images/non-deadpan/IMG_8634.jpeg
  test_images/non-deadpan/IMG_8757.jpeg
Due: none

Fix spacing UIED error handling
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Fix lint violations
  src/copy_that/application/spacing_utils.py
  tests/conftest.py
Due: unit, integration, Application Services

Improve W3C adapter coverage across token types
  src/copy_that/application/color_extractor.py
  src/copy_that/application/color_utils.py
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/presentation/colors.py
  src/copy_that/extractors/color/cv_extractor.py
  src/copy_that/services/colors_service.py
  src/core/tokens/adapters/w3c.py
  tests/unit/application/test_color_clustering_roles.py
  tests/unit/application/test_color_contrast_metadata.py
  tests/unit/core/test_w3c_adapter_color.py
  tests/unit/core/test_w3c_adapter_roundtrip_all_tokens.py
Due: unit, integration, Application Services

Enhance shadow token export and W3C coverage
  src/copy_that/shadowlab/stages.py
  src/core/tokens/adapters/w3c.py
  src/core/tokens/graph.py
  src/pipeline/panel_to_tokens.py
  tests/core/tokens/adapters/test_w3c_shadow_export.py
  tests/core/tokens/adapters/test_w3c_shadow_import.py
Due: unit, integration

Export contrast metadata in color token storage
  src/copy_that/application/color_extractor.py
  src/copy_that/application/color_utils.py
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/presentation/colors.py
  src/copy_that/extractors/color/cv_extractor.py
  src/copy_that/services/colors_service.py
  src/core/tokens/adapters/w3c.py
  tests/unit/application/test_color_clustering_roles.py
  tests/unit/application/test_color_contrast_metadata.py
  tests/unit/core/test_w3c_adapter_color.py
  tests/unit/core/test_w3c_adapter_roundtrip_all_tokens.py
Due: unit, integration, Application Services

Add spacing debug toggles and fixtures
  src/copy_that/application/cv/debug_spacing.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  tests/unit/application/test_spacing_cv_extractor.py
  tests/unit/application/test_spacing_debug_overlays.py
Due: unit, integration, Application Services
