Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

Clarify the Pages explainer for hiring audiences.
  site/README.md
  site/assets/fieldwork-components.png
  site/index.html
  site/script.js
  site/style.css
Due: none

Fix Components imagery on the Pages explainer.
  site/assets/fieldwork-components.png
  site/assets/reads-components.png
  site/index.html
  site/style.css
Due: none

Equalize reads Components cards and restore Interface Materials sheet.
  site/assets/fieldwork-interface-materials.png
  site/assets/reads-components.png
  site/index.html
  site/style.css
Due: none

Rebuild the Pages site as a hiring Home and Engineering case study.
  README.md
  docs/setup/deployment_options.md
  docs/superpowers/plans/2026-09-21-hiring-pages-showcase.md
  docs/superpowers/specs/2026-09-21-hiring-pages-showcase-design.md
  site/README.md
  site/assets/site.css
  site/assets/site.js
  site/engineering.html
  site/index.html
  site/script.js
  site/style.css
Due: none

Humanize the Pages showcase voice and layout.
  site/assets/site.css
  site/engineering.html
  site/index.html
Due: none

Equalize Fieldwork sheet heights on the Pages showcase.
  site/assets/site.css
Due: none

Wrap Fieldwork sheets in equal-height frames.
  site/index.html
Due: none

Normalize Fieldwork sheet assets to one canvas size.
  site/assets/fieldwork-application.png
  site/assets/fieldwork-foundations.png
  site/assets/fieldwork-interface-materials.png
  site/assets/site.css
Due: none

Add concise Fieldwork brand and sheet captions to the guide gallery.
  site/assets/site.css
  site/index.html
Due: none

Stabilize BDRAR shadow masks so CI stops flaking on polarity.
  src/copy_that/shadowlab/deep_shadow_detector.py
Due: unit, integration

Remove unused root setup and Playwright stubs.
  configure_environment.sh
  playwright.config.py
Due: none

Drop unused root ESLint and empty TypeScript stubs.
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
Due: none

Route mood board imagery through policy backends and harden local Celery enqueue.
  .env.example
  docs/architecture/CURRENT_ARCHITECTURE_STATE.md
  docs/configuration/ENVIRONMENT_VARIABLES.md
  docs/features/MOOD_BOARD_SPECIFICATION.md
  docs/planning/MVP_EXPANSION_ROADMAP.md
  frontend/src/api/moodBoard.ts
  frontend/src/components/OverviewNarrative.css
  frontend/src/components/overview-narrative/MoodBoard.tsx
  frontend/src/components/overview-narrative/__tests__/MoodBoard.opt-in.test.tsx
  frontend/src/components/overview-narrative/moodBoardTypes.ts
  src/copy_that/infrastructure/celery/tasks.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/services/mood_board_generator.py
  src/copy_that/services/mood_board_images/__init__.py
  src/copy_that/services/mood_board_images/backends.py
  src/copy_that/services/mood_board_images/protocol.py
  src/copy_that/services/mood_board_images/registry.py
  src/copy_that/services/mood_board_images/router.py
  tests/unit/api/test_mood_board_api.py
  tests/unit/services/test_mood_board_generator.py
  tests/unit/services/test_mood_board_router.py
Due: unit, integration, API Layer, Infrastructure

Document Flux OpenAI-compat gateway setup for mood board imagery.
  .env.example
  docs/configuration/ENVIRONMENT_VARIABLES.md
  docs/features/MOOD_BOARD_SPECIFICATION.md
Due: none

Add Fal→OpenAI shim and Labs one-shot helpers.
  .env.example
  Makefile
  docs/features/MOOD_BOARD_SPECIFICATION.md
  docs/setup/start_here.md
  scripts/dev_labs.sh
  scripts/mood_board_fal_openai_shim.py
  scripts/mood_board_smoke_fal.py
  tests/unit/scripts/test_mood_board_fal_openai_shim.py
Due: none

Fix non-stream color extract when CV returns oklch.
  src/copy_that/application/color_utils.py
  src/copy_that/application/presentation/colors.py
  src/copy_that/services/colors_service.py
  tests/unit/application/test_accent_states.py
  tests/unit/interfaces/api/test_color_role_aliases.py
  tests/unit/test_color_utils.py
Due: unit, integration, Application Services

Move mood boards to a Mood tab with a fixed material, source, and type stack.
  docs/features/MOOD_BOARD_SPECIFICATION.md
  docs/planning/MVP_EXPANSION_ROADMAP.md
  frontend/src/api/moodBoard.ts
  frontend/src/components/OverviewNarrative.css
  frontend/src/components/overview-narrative/MoodBoard.tsx
  frontend/src/components/overview-narrative/OverviewLabs.tsx
  frontend/src/components/overview-narrative/OverviewNarrative.tsx
  frontend/src/components/overview-narrative/__tests__/MoodBoard.composition.test.tsx
  frontend/src/components/overview-narrative/__tests__/OverviewNarrative.mood-board.test.tsx
  frontend/src/components/overview-narrative/moodBoardTypes.ts
  frontend/src/config/__tests__/featureFlags.policy.test.ts
  frontend/src/config/featureFlags.ts
  frontend/src/features/app-shell/AppShell.tsx
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/tests/playwright/evidence-screens.spec.ts
  frontend/tests/playwright/tabs_layout.spec.ts
  frontend/tests/playwright/ui_redundancy.spec.ts
  frontend/tests/playwright/visual-contracts.spec.ts
  src/copy_that/application/ports/mood_boards.py
  src/copy_that/infrastructure/celery/tasks.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/services/mood_board_generator.py
  tests/unit/services/test_mood_board_generator.py
Due: unit, integration, API Layer, Application Services, Infrastructure

Generate mood boards as style-locked design studies so the source sets finish and palette without being redrawn.
  Makefile
  docs/features/MOOD_BOARD_SPECIFICATION.md
  docs/setup/start_here.md
  frontend/src/api/moodBoard.ts
  frontend/src/components/overview-narrative/MoodBoard.tsx
  frontend/src/components/overview-narrative/__tests__/MoodBoard.composition.test.tsx
  frontend/src/components/overview-narrative/moodBoardTypes.ts
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/src/store/tokenGraphStore.ts
  scripts/mood_board_a1111_openai_shim.py
  scripts/mood_board_fal_openai_shim.py
  scripts/mood_board_local_image_server.py
  scripts/mood_board_verify.py
  src/copy_that/infrastructure/celery/tasks.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/services/mood_board_generator.py
  src/copy_that/services/mood_board_images/backends.py
  src/copy_that/services/mood_board_images/protocol.py
  src/copy_that/services/mood_board_images/router.py
  tests/unit/services/test_mood_board_generator.py
  tests/unit/services/test_mood_board_router.py
Due: unit, integration, API Layer, Infrastructure

Drop machine-local node_modules symlinks from the UI refinement checkpoint.
  .gitignore
  frontend/node_modules
  node_modules
Due: none

Fix the frontend suite so UI refinement tests isolate state and match the current shell.
  frontend/package.json
  frontend/src/components/__tests__/LibraryCurator.test.tsx
  frontend/src/components/image-uploader/__tests__/ImageUploader.integration.test.tsx
  frontend/src/components/image-uploader/__tests__/components.test.tsx
  frontend/src/components/ui/card/TokenCard.css
  frontend/src/components/ui/card/TokenCard.tsx
  frontend/src/components/ui/grid/TokenGrid.css
  frontend/src/config/__tests__/featureFlags.policy.test.ts
  frontend/src/config/featureFlags.ts
  frontend/src/store/uiStore.ts
  frontend/tests/playwright/ui_redundancy.spec.ts
  frontend/vite.config.ts
  frontend/vitest.setup.ts
  pnpm-lock.yaml
Due: none

Fix the collapsed source strip so the preview no longer paints over Change image.
  frontend/src/styles/refinement.css
Due: none

Record that the mood image router is done and the remaining P4 gap is live dogfood plus board layout.
  docs/planning/MVP_EXPANSION_ROADMAP.md
Due: none

Lower the Fal style weight so mood boards follow the layout instead of redrawing the product.
  scripts/mood_board_fal_openai_shim.py
Due: none

Turn on the lighting tab and analyzer so geometry is available without running heavy CV on every extract.
  frontend/src/config/__tests__/featureFlags.policy.test.ts
  frontend/src/config/featureFlags.ts
  frontend/src/features/explorer/TokenExplorer.tsx
  frontend/tests/playwright/evidence-screens.spec.ts
  frontend/tests/playwright/tabs_layout.spec.ts
  frontend/tests/playwright/ui_redundancy.spec.ts
  frontend/tests/playwright/visual-contracts.spec.ts
Due: none

Fix the lint, format, type, and test failures that kept main CI red.
  alembic/versions/2026_09_22_add_gradient_tokens.py
  frontend/src/features/explorer/TokenExplorer.tsx
  scripts/mood_board_fal_openai_shim.py
  scripts/mood_board_local_image_server.py
  scripts/mood_board_smoke_fal.py
  src/copy_that/core_tokens/adapters/w3c.py
  src/copy_that/generators/plugins/css.py
  src/copy_that/generators/plugins/react.py
  src/copy_that/guide_pack/builder.py
  src/copy_that/guide_pack/html.py
  src/copy_that/guide_pack/schema.py
  src/copy_that/infrastructure/celery/tasks.py
  src/copy_that/infrastructure/metrics/token_graph.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/services/mood_board_generator.py
  src/copy_that/services/mood_board_images/backends.py
  src/copy_that/services/mood_board_images/registry.py
  src/copy_that/services/mood_board_images/router.py
  tests/conftest.py
  tests/core/tokens/adapters/test_w3c.py
  tests/unit/scripts/test_mood_board_local_image_server.py
  tests/unit/services/test_mood_board_generator.py
Due: unit, integration, API Layer, Infrastructure

Run pre-push gates from the project's locked tools and keep markdown line breaks.
  .pre-commit-config.yaml
Due: none

Add make install and make verify so local gates match CI, and ignore model weights.
  .gitignore
  Makefile
  docs/evidence/2026-09-20-ui-dogfood/live/hydrate-recheck.json
  docs/evidence/2026-09-20-ui-dogfood/live/live-dogfood-notes.json
  docs/evidence/2026-09-20-ui-dogfood/live/ui-test-live-notes.json
  frontend/src/styles/empty-loading.css
  frontend/src/styles/shell.css
  frontend/src/styles/spacing.css
  frontend/src/styles/tabs-panels.css
  frontend/src/styles/typography.css
  frontend/src/styles/upload-session.css
Due: none

Align docs with the flags: Mood and Lighting are opt-in tabs and docs link to featureFlags.ts for values.
  DOCUMENTATION_INDEX.md
  README.md
  docs/architecture/CURRENT_ARCHITECTURE_STATE.md
  docs/configuration/ENVIRONMENT_VARIABLES.md
  docs/domain/DESIGN_GUIDE_PACK.md
  docs/features/MOOD_BOARD_SPECIFICATION.md
  docs/planning/MVP_EXPANSION_ROADMAP.md
  docs/planning/P4_GEOMETRY_GATES.md
Due: none

Make root AGENTS.md the shared agent contract and add Claude/Cursor hooks, rules, and MCP config.
  .claude/commands/setup.md
  .claude/hooks/format-edited-file.sh
  .claude/hooks/verify-on-stop.sh
  .claude/settings.json
  .cursor/hooks.json
  .cursor/rules/00-core.mdc
  .cursor/rules/10-backend.mdc
  .cursor/rules/20-frontend.mdc
  .cursor/rules/30-docs.mdc
  .mcp.json
  AGENTS.md
  CLAUDE.md
  docs/guides/AGENTS.md
Due: none

Clear all known dependency vulnerabilities and replace python-jose/passlib.
  .github/workflows/ci-tiered.yml
  frontend/package.json
  frontend/src/components/image-uploader/__tests__/ImageUploader.integration.test.tsx
  frontend/src/features/visual-extraction/adapters/ColorVisualAdapter.tsx
  frontend/vite.config.ts
  package.json
  pnpm-lock.yaml
  pyproject.toml
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/shadowlab/deep_shadow_detector.py
  tests/unit/test_authentication.py
  uv.lock
Due: unit, integration, Infrastructure

Merge CI into one workflow that installs from the lockfiles and gates on security.
  .github/pip-audit-ignore.txt
  .github/workflows/ci.yml
Due: none

Delete byte-identical duplicate modules and the unused services/metrics package.
  src/copy_that/application/color_extractor.py
  src/copy_that/application/color_science_artifacts.py
  src/copy_that/application/openai_color_extractor.py
  src/copy_that/application/semantic_color_naming.py
  src/copy_that/application/typography_recommender.py
  src/copy_that/domain/overview_metrics.py
  src/copy_that/extractors/color/extractor.py
  src/copy_that/extractors/color/openai_extractor.py
  src/copy_that/infrastructure/metrics/quantitative.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/services/metrics/__init__.py
  src/copy_that/services/metrics/accessibility.py
  src/copy_that/services/metrics/base.py
  src/copy_that/services/metrics/orchestrator.py
  src/copy_that/services/metrics/qualitative.py
  src/copy_that/services/metrics/quantitative.py
  src/copy_that/services/metrics/registry.py
  src/copy_that/services/metrics/token_graph.py
  src/copy_that/services/typography_recommendation.py
  tests/unit/application/test_semantic_naming.py
  tests/unit/application/test_typography_confidence.py
  tests/unit/application/test_typography_recommender_mvp.py
  tests/unit/application/test_typography_vlm_bridge.py
  tests/unit/test_semantic_color_naming.py
Due: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

Add the review remediation handoff: verified state, item status, next steps, and required user actions.
  docs/planning/REVIEW_2026-10-08.md
Due: none

Mark the wall-clock parallelism test slow so the fast pre-push run is deterministic.
  docs/planning/REVIEW_2026-10-08.md
  tests/unit/extractors/color/test_e2e_multi_extractor.py
Due: none

Record that the leaked Upstash database is already deleted, so no rotation is needed.
  docs/planning/REVIEW_2026-10-08.md
Due: none

Note that both Upstash databases were permanently deleted.
  docs/planning/REVIEW_2026-10-08.md
Due: none

Define every AI model ID in infrastructure/ai_models.py.
  .env.example
  docs/configuration/ENVIRONMENT_VARIABLES.md
  docs/planning/REVIEW_2026-10-08.md
  src/copy_that/application/ai_shadow_extractor.py
  src/copy_that/application/color_extractor.py
  src/copy_that/application/openai_color_extractor.py
  src/copy_that/application/presentation/colors.py
  src/copy_that/application/quality.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/application/typography_extractor.py
  src/copy_that/extractors/color/adapters.py
  src/copy_that/extractors/color/extractor.py
  src/copy_that/extractors/color/openai_extractor.py
  src/copy_that/extractors/shadow/ai_extractor.py
  src/copy_that/extractors/spacing/extractor.py
  src/copy_that/infrastructure/ai_models.py
  src/copy_that/infrastructure/metrics/qualitative.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/shadows.py
  src/copy_that/services/colors_service.py
  src/copy_that/services/mood_board_generator.py
  src/copy_that/services/mood_board_images/backends.py
  tests/conftest.py
  tests/unit/api/test_colors_api.py
  tests/unit/api/test_shadows_api.py
  tests/unit/extractors/color/test_adapters.py
  tests/unit/infrastructure/test_ai_models.py
  tests/unit/interfaces/api/test_colors.py
Due: unit, integration, API Layer, Application Services, Infrastructure

Path conditions:
  unit: any of: src/
  integration: any of: src/
  API Layer: any of: src/copy_that/interfaces/api/**
  Domain Logic: any of: src/copy_that/domain/**
  Application Services: any of: src/copy_that/application/**
  Infrastructure: any of: src/copy_that/infrastructure/**
