Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

fix: resolve linting, type errors and test issues
  src/copy_that/pipeline/validation/accessibility.py
  src/copy_that/pipeline/validation/agent.py
  tests/api/test_contracts.py
  tests/unit/pipeline/validation/conftest.py
  tests/unit/pipeline/validation/test_accessibility.py
  tests/unit/pipeline/validation/test_agent.py
  tests/unit/pipeline/validation/test_quality.py
Due: unit, integration

docs: update report with accurate test coverage
  session-4-validation-complete.md
Due: none

test: improve agent.py coverage to 83%
  tests/unit/pipeline/aggregation/test_agent.py
Due: none

test: add ImageEnhancer tests for 80%+ coverage
  session-1-preprocessor-complete.md
  tests/unit/pipeline/preprocessing/test_enhancer.py
Due: none

fix: resolve mypy type errors in redis and celery modules
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/celery/app.py
  src/copy_that/infrastructure/celery_config.py
Due: unit, integration, Infrastructure

docs: update report with improved coverage numbers
  session-3-aggregation-complete.md
Due: none

docs: fix commit hash in session report
  session-1-preprocessor-complete.md
Due: none

fix: resolve syntax errors and formatting issues
  src/copy_that/interfaces/api/colors.py
  tests/api/test_contracts.py
Due: unit, integration, API Layer

docs: add CI results, implementation details, and commit history
  session-3-aggregation-complete.md
Due: none

docs: add CI results, implementation details, and commit history
  session-4-validation-complete.md
Due: none

docs: update session report with CI results and implementation details
  session-5-generator-complete.md
Due: none

docs: add CI results and implementation details to report
  session-1-preprocessor-complete.md
Due: none

style: fix ruff formatting for CI
  tests/api/test_contracts.py
  tests/unit/pipeline/preprocessing/test_enhancer.py
Due: none

fix: resolve mypy type errors in preprocessing module
  src/copy_that/pipeline/preprocessing/agent.py
  src/copy_that/pipeline/preprocessing/downloader.py
  src/copy_that/pipeline/preprocessing/enhancer.py
  src/copy_that/pipeline/preprocessing/validator.py
Due: unit, integration

style: fix ruff formatting in enhancer.py
  src/copy_that/pipeline/preprocessing/enhancer.py
Due: unit, integration

fix: resolve mypy type errors in extraction module
  src/copy_that/pipeline/extraction/agent.py
  src/copy_that/pipeline/extraction/schemas.py
Due: unit, integration

test: add tests for prompts module to improve coverage
  tests/unit/pipeline/extraction/test_prompts.py
Due: none

style: format test_agent.py
  tests/unit/pipeline/aggregation/test_agent.py
Due: none

style: format test_agent.py with ruff
  tests/unit/pipeline/validation/test_agent.py
Due: none

test: add comprehensive tests for colors.py API endpoints
  tests/unit/interfaces/__init__.py
  tests/unit/interfaces/api/__init__.py
  tests/unit/interfaces/api/test_colors.py
Due: none

fix: resolve mypy type compatibility issues across versions
  pyproject.toml
  src/copy_that/infrastructure/cache/redis_cache.py
Due: unit, integration, Infrastructure

docs: move session report to planning sessions directory
  docs/planning/sessions/session-1-preprocessor-complete.md
Due: none

docs: add session 2 extraction engine implementation report
  docs/planning/sessions/session-2-extraction-report.md
Due: none

docs: consolidate session handoffs to planning/sessions
  docs/planning/sessions/2025-11-20_session2_handoff.md
  docs/planning/sessions/2025-11-20_session5_handoff.md
  docs/planning/sessions/2025-11-20_session6_handoff.md
  docs/planning/sessions/2025-11-20_session7_handoff.md
  docs/planning/sessions/2025-11-20_session8_handoff.md
  docs/planning/sessions/2025-11-20_session9_handoff.md
  docs/planning/sessions/README.md
Due: none

test: add API tests for auth and colors endpoints
  docs/sessions/2025-11-20_session2_handoff.md
  docs/sessions/2025-11-20_session5_handoff.md
  docs/sessions/2025-11-20_session6_handoff.md
  docs/sessions/2025-11-20_session7_handoff.md
  docs/sessions/2025-11-20_session8_handoff.md
  docs/sessions/2025-11-20_session9_handoff.md
  docs/sessions/README.md
  tests/unit/api/test_auth_api.py
  tests/unit/api/test_colors_api.py
Due: none

test: add comprehensive API tests for projects and sessions
  tests/unit/api/__init__.py
  tests/unit/api/test_projects_api.py
  tests/unit/api/test_sessions_api.py
Due: none

style: fix ruff formatting in API test files
  tests/unit/api/test_auth_api.py
  tests/unit/api/test_colors_api.py
  tests/unit/api/test_sessions_api.py
Due: none

feat: implement pipeline orchestrator with circuit breakers
  session-6-orchestrator-complete.md
  src/copy_that/pipeline/orchestrator/__init__.py
  src/copy_that/pipeline/orchestrator/agent_pool.py
  src/copy_that/pipeline/orchestrator/circuit_breaker.py
  src/copy_that/pipeline/orchestrator/coordinator.py
  tests/unit/pipeline/orchestrator/__init__.py
  tests/unit/pipeline/orchestrator/test_agent_pool.py
  tests/unit/pipeline/orchestrator/test_circuit_breaker.py
  tests/unit/pipeline/orchestrator/test_coordinator.py
Due: unit, integration

docs: update README, CHANGELOG, and add sessions 0-6 summary
  CHANGELOG.md
  README.md
  docs/planning/SESSIONS_0-6_SUMMARY.md
Due: none

style: fix ruff formatting in test_auth_api.py
  tests/unit/api/test_auth_api.py
Due: none

fix: correct test assertions for schema types
  tests/unit/api/test_colors_api.py
  tests/unit/api/test_projects_api.py
Due: none

docs: add session 7 todo with spacing tokens and next steps
  docs/planning/sessions/session-7-todo.md
Due: none

docs: move session complete reports to docs/planning/sessions
  docs/planning/sessions/session-3-aggregation-complete.md
  docs/planning/sessions/session-4-validation-complete.md
  docs/planning/sessions/session-5-generator-complete.md
Due: none

docs: add Priority 0 - validate color pipeline in local dev
  docs/planning/sessions/session-7-todo.md
Due: none

chore: move session report to docs/planning/sessions
  docs/planning/sessions/session-6-orchestrator-complete.md
Due: none

fix: remove unused imports from orchestrator tests
  tests/unit/pipeline/orchestrator/test_agent_pool.py
  tests/unit/pipeline/orchestrator/test_circuit_breaker.py
  tests/unit/pipeline/orchestrator/test_coordinator.py
Due: none

style: format orchestrator files with ruff
  src/copy_that/pipeline/orchestrator/circuit_breaker.py
  src/copy_that/pipeline/orchestrator/coordinator.py
  tests/unit/pipeline/orchestrator/test_circuit_breaker.py
Due: unit, integration

feat: add advanced color pipeline demos and comprehensive tests
  frontend/src/components/AdvancedColorScienceDemo.css
  frontend/src/components/AdvancedColorScienceDemo.tsx
  static/advanced-demo.html
  static/advanced-demo.js
  tests/e2e/test_color_pipeline_e2e.py
  tests/scripts/generate_test_images.py
  tests/unit/test_color_pipeline_comprehensive.py
Due: none

feat: implement spacing token extraction pipeline
  frontend/src/components/SpacingTokenShowcase.tsx
  src/copy_that/application/spacing_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/generators/__init__.py
  src/copy_that/generators/spacing_css_generator.py
  src/copy_that/generators/spacing_html_demo_generator.py
  src/copy_that/generators/spacing_react_generator.py
  src/copy_that/generators/spacing_w3c_generator.py
  src/copy_that/interfaces/api/main.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/tokens/spacing/__init__.py
  src/copy_that/tokens/spacing/aggregator.py
Due: unit, integration, API Layer, Application Services

fix: stabilize color pipeline utilities
  .pre-commit-config.yaml
  src/copy_that/application/color_utils.py
  src/copy_that/generators/css_generator.py
  src/copy_that/pipeline/aggregation/deduplicator.py
  src/copy_that/pipeline/orchestrator/agent_pool.py
  src/copy_that/tokens/color/aggregator.py
Due: unit, integration, Application Services

Path conditions:
  unit: any of: src/
  integration: any of: src/
  API Layer: any of: src/copy_that/interfaces/api/**
  Domain Logic: any of: src/copy_that/domain/**
  Application Services: any of: src/copy_that/application/**
  Infrastructure: any of: src/copy_that/infrastructure/**
