Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 80%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Fix streaming endpoint to unpack get_extractor tuple
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

Fix ColorTokenDisplay crash when colors prop is undefined
  frontend/src/components/ColorTokenDisplay.tsx
Due: none

Add defensive patterns for optional array props
  frontend/src/components/ColorPaletteSelector.tsx
  frontend/src/components/CompactColorGrid.tsx
  frontend/src/components/EducationalColorDisplay.tsx
Due: none

Add tests for defensive patterns in ColorTokenDisplay
  frontend/src/components/__tests__/ColorTokenDisplay.test.tsx
Due: none

Add zod validation and ESLint configuration for defensive patterns
  .claude/commands/setup.md
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/api/__tests__/client.test.ts
  frontend/src/api/__tests__/schemas.test.ts
  frontend/src/api/client.ts
  frontend/src/api/schemas.ts
Due: none

feat: add comprehensive AI agent orchestration architecture and autopilot session prompts
  docs/planning/PROJECT_IMPLEMENTATION_PLAN_AND_INTEGRATION_ROADMAP.md
Due: none

refactor: convert to pipeline-based agent architecture
  docs/planning/PROJECT_IMPLEMENTATION_PLAN_AND_INTEGRATION_ROADMAP.md
Due: none

refactor: replace token-specific sessions with pipeline-based sessions
  docs/planning/PROJECT_IMPLEMENTATION_PLAN_AND_INTEGRATION_ROADMAP.md
Due: none

Fix frontend ESLint errors for CI compliance
  frontend/.eslintrc.cjs
  frontend/src/App.tsx
  frontend/src/api/__tests__/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/hooks.ts
  frontend/src/components/AccessibilityVisualizer.tsx
  frontend/src/components/BatchImageUploader.tsx
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/components/ColorDetailsPanel.tsx
  frontend/src/components/ColorNarrative.tsx
  frontend/src/components/ColorPaletteSelector.tsx
  frontend/src/components/CompactColorGrid.tsx
  frontend/src/components/ExportDownloader.tsx
  frontend/src/components/HarmonyVisualizer.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/components/LibraryCurator.tsx
  frontend/src/components/PlaygroundSidebar.tsx
  frontend/src/components/SessionCreator.tsx
  frontend/src/components/TokenCard.tsx
  frontend/src/components/TokenInspectorSidebar.tsx
  frontend/src/components/TokenPlaygroundDrawer.tsx
  frontend/src/components/__tests__/SessionCreator.test.tsx
  frontend/src/config/tokenTypeRegistry.tsx
  frontend/src/store/tokenStore.ts
Due: none

feat: add pipeline interfaces and types
  src/copy_that/pipeline/__init__.py
  src/copy_that/pipeline/exceptions.py
  src/copy_that/pipeline/interfaces.py
  src/copy_that/pipeline/types.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_interfaces.py
  tests/unit/pipeline/test_types.py
Due: unit, integration

refactor: split planning doc into session-specific files
  docs/planning/PROJECT_IMPLEMENTATION_PLAN_AND_INTEGRATION_ROADMAP.md
  docs/planning/sessions/session-0-interfaces.md
  docs/planning/sessions/session-1-preprocessing.md
  docs/planning/sessions/session-2-extraction.md
  docs/planning/sessions/session-3-aggregation.md
  docs/planning/sessions/session-4-validation.md
  docs/planning/sessions/session-5-generator.md
  docs/planning/sessions/session-6-orchestrator.md
Due: none

feat: add W3C Design Tokens support to pipeline types
  docs/architecture/PIPELINE_GLOSSARY.md
  docs/planning/sessions/session-0-interfaces.md
  src/copy_that/pipeline/__init__.py
  src/copy_that/pipeline/types.py
  tests/unit/pipeline/test_types.py
Due: unit, integration

docs: update documentation for pipeline foundation
  CHANGELOG.md
  docs/planning/2025-11-21-roadmap.md
  docs/planning/sessions/session-0-interfaces-complete.md
  docs/planning/sessions/session-1-preprocessing.md
  docs/planning/sessions/session-2-extraction.md
  docs/planning/sessions/session-3-aggregation.md
  docs/planning/sessions/session-4-validation.md
  docs/planning/sessions/session-5-generator.md
  docs/planning/sessions/session-6-orchestrator.md
Due: none

fix: remove unused imports in pipeline tests
  tests/unit/pipeline/test_interfaces.py
  tests/unit/pipeline/test_types.py
Due: none

test: add integration tests for pipeline module
  tests/integration/test_pipeline_integration.py
Due: none

style: format pipeline types with ruff
  src/copy_that/pipeline/types.py
  tests/unit/pipeline/test_types.py
Due: unit, integration

fix: correct integration tests to match actual API
  tests/integration/test_pipeline_integration.py
Due: none

chore: add pre-commit hooks for linting and formatting
  .pre-commit-config.yaml
Due: none

feat: add tiered testing and development setup
  .github/workflows/ci-tiered.yml
  .pre-commit-config.yaml
  Makefile
  docs/ops/github-environments.md
  scripts/setup-dev.sh
  scripts/setup-github-envs.sh
Due: none

feat: add comprehensive testing infrastructure
  Makefile
  pyproject.toml
  tests/a11y/test_accessibility.py
  tests/api/test_contracts.py
  tests/load/locustfile.py
  tests/visual/test_visual.py
Due: none

fix: correct ProcessedImage test and update setup.md
  .claude/commands/setup.md
  tests/integration/test_pipeline_integration.py
Due: none

fix: CI workflow, mypy, and ruff errors
  .github/workflows/ci-tiered.yml
  src/copy_that/pipeline/types.py
  tests/api/test_contracts.py
  tests/load/locustfile.py
Due: unit, integration

style: format test_visual.py with ruff
  tests/visual/test_visual.py
Due: none

fix: use correct mypy error code in type ignore comment
  src/copy_that/pipeline/types.py
Due: unit, integration

chore: commit local changes
  deploy/local/prometheus.yml
  docker-compose.yml
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, API Layer, Infrastructure

fix: conditionally define schemathesis tests when schema available
  tests/api/test_contracts.py
Due: none

feat: implement extraction engine with Tool Use
  src/copy_that/pipeline/extraction/__init__.py
  src/copy_that/pipeline/extraction/agent.py
  src/copy_that/pipeline/extraction/prompts.py
  src/copy_that/pipeline/extraction/schemas.py
  tests/unit/pipeline/extraction/__init__.py
  tests/unit/pipeline/extraction/test_agent.py
  tests/unit/pipeline/extraction/test_schemas.py
Due: unit, integration

chore: add uv.lock for reproducible builds
  uv.lock
Due: none

feat: implement preprocessing pipeline with SSRF protection
  src/copy_that/pipeline/preprocessing/__init__.py
  src/copy_that/pipeline/preprocessing/agent.py
  src/copy_that/pipeline/preprocessing/downloader.py
  src/copy_that/pipeline/preprocessing/enhancer.py
  src/copy_that/pipeline/preprocessing/validator.py
  tests/unit/pipeline/preprocessing/__init__.py
  tests/unit/pipeline/preprocessing/test_agent.py
  tests/unit/pipeline/preprocessing/test_downloader.py
  tests/unit/pipeline/preprocessing/test_validator.py
Due: unit, integration

docs: add session 1 completion report
  session-1-preprocessor-complete.md
Due: none

feat: implement validation pipeline with WCAG scoring
  session-4-validation-complete.md
  src/copy_that/pipeline/validation/__init__.py
  src/copy_that/pipeline/validation/accessibility.py
  src/copy_that/pipeline/validation/agent.py
  src/copy_that/pipeline/validation/quality.py
  tests/unit/pipeline/validation/__init__.py
  tests/unit/pipeline/validation/conftest.py
  tests/unit/pipeline/validation/test_accessibility.py
  tests/unit/pipeline/validation/test_agent.py
  tests/unit/pipeline/validation/test_quality.py
Due: unit, integration

chore: add uv.lock file
  uv.lock
Due: none

feat: implement aggregation pipeline with Delta-E dedup
  session-3-aggregation-complete.md
  src/copy_that/pipeline/aggregation/__init__.py
  src/copy_that/pipeline/aggregation/agent.py
  src/copy_that/pipeline/aggregation/deduplicator.py
  src/copy_that/pipeline/aggregation/provenance.py
  tests/unit/pipeline/aggregation/__init__.py
  tests/unit/pipeline/aggregation/test_agent.py
  tests/unit/pipeline/aggregation/test_deduplicator.py
  tests/unit/pipeline/aggregation/test_provenance.py
Due: unit, integration

style: fix linting issues in extraction module
  src/copy_that/pipeline/extraction/__init__.py
  src/copy_that/pipeline/extraction/agent.py
  src/copy_that/pipeline/extraction/prompts.py
  src/copy_that/pipeline/extraction/schemas.py
  tests/unit/pipeline/extraction/test_agent.py
  tests/unit/pipeline/extraction/test_schemas.py
Due: unit, integration

feat: implement generator pipeline with multi-format output
  session-5-generator-complete.md
  src/copy_that/pipeline/generator/__init__.py
  src/copy_that/pipeline/generator/agent.py
  src/copy_that/pipeline/generator/templates/css.j2
  src/copy_that/pipeline/generator/templates/react.j2
  src/copy_that/pipeline/generator/templates/scss.j2
  src/copy_that/pipeline/generator/templates/tailwind.j2
  src/copy_that/pipeline/generator/templates/w3c.j2
  tests/unit/pipeline/generator/__init__.py
  tests/unit/pipeline/generator/test_agent.py
  tests/unit/pipeline/generator/test_formats.py
  uv.lock
Due: unit, integration

fix: enhance SSRF protection and fix test assertions
  src/copy_that/pipeline/preprocessing/validator.py
  tests/unit/pipeline/preprocessing/test_validator.py
Due: unit, integration

style: fix formatting in test_contracts.py
  tests/api/test_contracts.py
Due: none

docs: update session 1 report with test results
  session-1-preprocessor-complete.md
Due: none

fix: apply ruff lint and format fixes
  src/copy_that/pipeline/aggregation/agent.py
  src/copy_that/pipeline/aggregation/provenance.py
  tests/api/test_contracts.py
  tests/unit/pipeline/aggregation/test_agent.py
  tests/unit/pipeline/aggregation/test_provenance.py
Due: unit, integration
