Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

Resolve mypy findings in spacing extractor
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Tweak element classification heuristics and document UIED runner wiring
  README.md
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

Tighten typing for CV detectors
  src/copy_that/application/cv/fastsam_segmenter.py
  src/copy_that/application/cv/layout_text_detector.py
Due: unit, integration, Application Services

Add typed token graph semantics and W3C export support
  CHANGELOG.md
  README.md
  docs/architecture/backend_architecture.md
  docs/architecture/token_graph.md
  scripts/token_graph_inspect.py
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/interfaces/api/token_mappers.py
  src/core/tokens/adapters/w3c.py
  src/core/tokens/aggregate.py
  src/core/tokens/color.py
  src/core/tokens/graph.py
  src/core/tokens/model.py
  src/core/tokens/repository.py
  src/core/tokens/shadow.py
  src/core/tokens/spacing.py
  src/core/tokens/typography.py
  src/pipeline/panel_to_tokens.py
  src/typography/recommender.py
  tests/core/tokens/adapters/test_w3c.py
  tests/core/tokens/adapters/test_w3c_spacing_layout_export.py
  tests/core/tokens/test_graph.py
  tests/core/tokens/test_repository.py
  tests/core/tokens/test_shadow_typography.py
  tests/core/tokens/test_token_graph_diagnostics.py
  tests/core/tokens/test_w3c_composites.py
Due: unit, integration, API Layer, Application Services

Align spacing W3C contract test with dimension export
  tests/unit/api/test_w3c_export_contracts.py
Due: none

Extend token enums and graph-aware shadow/typography helpers
  src/core/tokens/adapters/w3c.py
  src/core/tokens/model.py
  src/core/tokens/shadow.py
  src/core/tokens/typography.py
  src/typography/recommender.py
  tests/core/tokens/test_shadow_typography.py
  tests/core/tokens/test_w3c_composites.py
Due: unit, integration

Add frontend token graph types and store
  frontend/src/api/client.ts
  frontend/src/store/tokenGraphStore.ts
  frontend/src/types/index.ts
  frontend/src/types/tokens.ts
  frontend/src/vite-env.d.ts
  frontend/vitest.setup.ts
Due: none

Wire frontend to token graph and add color/spacing graph panels
  frontend/src/App.tsx
  frontend/src/components/ColorGraphPanel.tsx
  frontend/src/components/SpacingScalePanel.tsx
Due: none

Adapt frontend to graph store with legacy views and spacing scale
  frontend/src/App.tsx
  frontend/src/store/tokenGraphStore.ts
Due: none

Surface graph-derived colors/spacing in existing UI panels
  frontend/src/App.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/SpacingGraphList.tsx
Due: none

Add graph-aware color alias badges, spacing, shadow, and typography inspectors
  frontend/src/App.tsx
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/RelationsDebugPanel.tsx
  frontend/src/components/ShadowInspector.tsx
  frontend/src/components/TypographyInspector.tsx
Due: none

Expose graph-derived color extras for legacy components
  frontend/src/store/tokenGraphStore.ts
Due: none

Sync legacy token store from graph data in App
  frontend/src/App.tsx
Due: none

Add typography recommender and DTCG token export
  frontend/src/App.tsx
  frontend/src/components/TypographyInspector.tsx
  frontend/src/components/__tests__/TypographyInspector.test.tsx
  frontend/src/store/tokenGraphStore.ts
  frontend/src/types/tokens.ts
  src/copy_that/application/font_mapping.py
  src/copy_that/application/typography_recommender.py
  src/core/tokens/adapters/w3c.py
  tests/application/test_font_mapping.py
  tests/application/test_typography_confidence.py
  tests/application/test_typography_recommender_mvp.py
  tests/application/test_typography_vlm_bridge.py
  tests/core/tokens/adapters/test_w3c.py
  tests/core/tokens/adapters/test_w3c_spacing_layout_export.py
  tests/core/tokens/adapters/test_w3c_typography_export.py
  tests/core/tokens/test_w3c_composites.py
Due: unit, integration, Application Services

Fix W3C export compatibility
  src/copy_that/application/typography_recommender.py
  src/core/tokens/adapters/w3c.py
Due: unit, integration, Application Services

Add unified design-tokens export with typography
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/main.py
  tests/unit/api/test_w3c_export_contracts.py
Due: unit, integration, API Layer

Expose typography recommendation meta via unified export
  frontend/src/components/TypographyInspector.tsx
  frontend/src/components/__tests__/TypographyInspector.test.tsx
  frontend/src/store/tokenGraphStore.ts
  frontend/src/types/tokens.ts
  src/copy_that/interfaces/api/design_tokens.py
  tests/unit/api/test_w3c_export_contracts.py
Due: unit, integration, API Layer

Harden typography recommendation metadata handling
  frontend/src/components/TypographyInspector.tsx
  frontend/src/store/tokenGraphStore.ts
  src/copy_that/interfaces/api/design_tokens.py
Due: unit, integration, API Layer

Add tabbed UI and summary chips for tokens
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

Add Playwright smoke test for tabbed token layout
  frontend/tests/playwright/tabs_layout.spec.ts
Due: none

Update Playwright tests for tabbed UI and auto-start server
  frontend/playwright.config.ts
  frontend/tests/playwright/extraction.spec.ts
  frontend/tests/playwright/extraction_layout.spec.ts
  frontend/tests/playwright/homepage.spec.ts
  frontend/tests/playwright/layout_usability.spec.ts
  frontend/tests/playwright/tabs_layout.spec.ts
  frontend/tests/playwright/ui_redundancy.spec.ts
Due: none

Add compact token tables/cards and relations view to tabs
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ColorsTable.tsx
  frontend/src/components/RelationsTable.tsx
  frontend/src/components/SpacingTable.tsx
  frontend/src/components/TypographyCards.tsx
Due: none

Refine spacing tab and typography view; keep tables visible
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

Add Playwright check for summary chips
  frontend/tests/playwright/summary_chips.spec.ts
Due: none

Improve colors/spacing tabs: fallback data and refined tables
  frontend/src/App.tsx
  frontend/src/components/ColorsTable.tsx
  frontend/src/components/SpacingTable.tsx
Due: none

Move debug toggle/processing chip into header actions
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

Tidy header, colors/spacing/shadows tabs, and raw debug accordions
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

Fix color table toggle state and keep tests passing
  frontend/src/App.tsx
Due: none

Harden typography validation with Infinity checks and tests
  frontend/src/types/tokens.ts
  src/copy_that/interfaces/api/design_tokens.py
  tests/unit/api/test_w3c_export_contracts.py
Due: unit, integration, API Layer

Implement immediate and week 1 priority fixes from code review
  alembic/versions/2025_12_01_add_additional_fk_indexes.py
  src/copy_that/infrastructure/celery/app.py
  src/copy_that/infrastructure/celery_config.py
  src/copy_that/infrastructure/deployment_config.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer, Infrastructure

Security hardening and code quality improvements
  src/copy_that/application/spacing_extractor.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/middleware/security_headers.py
  src/copy_that/services/colors_service.py
Due: unit, integration, API Layer, Application Services, Infrastructure

Fix import ordering to satisfy linter (PEP 8)
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/services/colors_service.py
Due: unit, integration, API Layer

Fix ruff linter errors: UP017 and I001
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/interfaces/api/auth.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer, Infrastructure

Fix rate_limit dependency and apply code formatting
  src/copy_that/application/spacing_extractor.py
  src/copy_that/infrastructure/deployment_config.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/design_tokens.py
Due: unit, integration, API Layer, Application Services, Infrastructure

Fix test failures: rate limiter and security headers
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/middleware/security_headers.py
  tests/conftest.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, API Layer, Infrastructure

Add snapshot summary and refine spacing chip styles
  docs/copy-that-code-review-issues.md
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

Consolidate duplicate JSON sanitization functions into shared utility
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/design_tokens.py
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/interfaces/api/utils.py
Due: unit, integration, API Layer

Add image size and dimension validation for security
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/validators.py
Due: unit, integration, API Layer

Add proper session cleanup to streaming endpoints
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

Update code review issues with progress from current session
  docs/copy-that-code-review-issues.md
Due: none

Path conditions:
  unit: any of: src/
  integration: any of: src/
  API Layer: any of: src/copy_that/interfaces/api/**
  Domain Logic: any of: src/copy_that/domain/**
  Application Services: any of: src/copy_that/application/**
  Infrastructure: any of: src/copy_that/infrastructure/**
