Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: auto
      - type: patch
        target: 80%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Remove fail-under threshold from pytest config
  pyproject.toml
Due: none

Add architectural alternatives for loosely coupled token processing
  docs/planning/token-pipeline-planning/TOKEN_ARCHITECTURE_ALTERNATIVES.md
Due: none

Fix gitleaks failure by renaming .env example file
  docs/planning/token-pipeline-planning/README.md
  docs/planning/token-pipeline-planning/reference-implementation/config/env-spacing-example.txt
  docs/planning/token-pipeline-planning/reference-implementation/scripts/setup_spacing.sh
Due: none

Replace mock API keys with non-flaggable test values
  docs/planning/token-pipeline-planning/reference-implementation/tests/conftest.py
Due: none

Add Google Docs friendly export format
  docs/frontend-infrastructure-analysis/GOOGLE_DOCS_EXPORT.txt
Due: none

Add comprehensive Project Implementation Plan & Integration Roadmap
  docs/planning/PROJECT_IMPLEMENTATION_PLAN_AND_INTEGRATION_ROADMAP.md
Due: none

Add Integration Roadmap Enforcement Report for Week 0
  docs/roadmap/2025-11-22-integration-enforcement-report.md
Due: none

Add test coverage, Redis connectivity checks, and environment documentation
  docs/ENVIRONMENT_VARIABLES.md
  src/copy_that/infrastructure/cache/__init__.py
  src/copy_that/infrastructure/cache/redis_cache.py
  tests/integration/test_auth.py
  tests/integration/test_authorization.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, Infrastructure

Add environment variable checker script
  scripts/check_env_vars.py
Due: none

Add Neon workflow for branch management on PRs
  .github/workflows/neon_workflow.yml
Due: none

Fix ruff linting errors
  alembic/versions/2025_11_22_001_add_performance_indexes.py
  alembic/versions/2025_11_22_002_add_user_authentication.py
  scripts/check_env_vars.py
  src/copy_that/domain/models.py
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/authorization.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, API Layer, Domain Logic, Infrastructure

Add email-validator and auth dependencies
  pyproject.toml
  requirements.txt
Due: none

Add asyncpg and redis to requirements.txt
  requirements.txt
Due: none

Fix ruff linting issues across codebase
  alembic/versions/2025_11_22_001_add_performance_indexes.py
  alembic/versions/2025_11_22_002_add_user_authentication.py
  docs/planning/token-pipeline-planning/reference-implementation/config/migration_spacing_tokens.py
  docs/planning/token-pipeline-planning/reference-implementation/config/spacing_config.py
  docs/planning/token-pipeline-planning/reference-implementation/scripts/seed_spacing_data.py
  docs/planning/token-pipeline-planning/reference-implementation/src/aggregators/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/src/aggregators/spacing_aggregator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/api/spacing_router.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/batch_spacing_extractor.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/spacing_extractor.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/spacing_utils.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/spacing_css_generator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/spacing_w3c_generator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/models/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/conftest.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/integration/test_spacing_pipeline.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/unit/test_spacing_aggregator.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/unit/test_spacing_extractor.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/unit/test_spacing_utils.py
  scripts/check_env_vars.py
  src/copy_that/domain/models.py
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/authorization.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, API Layer, Domain Logic, Infrastructure

Apply ruff formatting to 29 files
  alembic/versions/2025_11_22_001_add_performance_indexes.py
  docs/planning/token-pipeline-planning/reference-implementation/config/migration_spacing_tokens.py
  docs/planning/token-pipeline-planning/reference-implementation/config/spacing_config.py
  docs/planning/token-pipeline-planning/reference-implementation/scripts/seed_spacing_data.py
  docs/planning/token-pipeline-planning/reference-implementation/src/aggregators/spacing_aggregator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/api/spacing_router.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/batch_spacing_extractor.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/spacing_extractor.py
  docs/planning/token-pipeline-planning/reference-implementation/src/extractors/spacing_utils.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/__init__.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/spacing_css_generator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/generators/spacing_w3c_generator.py
  docs/planning/token-pipeline-planning/reference-implementation/src/models/spacing_token.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/conftest.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/integration/test_spacing_pipeline.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/unit/test_spacing_aggregator.py
  docs/planning/token-pipeline-planning/reference-implementation/tests/unit/test_spacing_extractor.py
  scripts/check_env_vars.py
  src/copy_that/domain/models.py
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/authorization.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  src/copy_that/interfaces/api/middleware/security_headers.py
  tests/integration/test_auth.py
  tests/integration/test_authorization.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, API Layer, Domain Logic, Infrastructure

Fix mypy type errors and alembic migration chain
  alembic/versions/2025_11_22_001_add_performance_indexes.py
  src/copy_that/domain/models.py
  src/copy_that/infrastructure/cache/redis_cache.py
  src/copy_that/infrastructure/security/authentication.py
  src/copy_that/infrastructure/security/authorization.py
  src/copy_that/infrastructure/security/rate_limiter.py
  src/copy_that/interfaces/api/auth.py
  src/copy_that/interfaces/api/middleware/security_headers.py
Due: unit, integration, API Layer, Domain Logic, Infrastructure

Add email-validator dependency for pydantic EmailStr
  pyproject.toml
Due: none

Fix Redis type annotation and rate limiter test mocks
  src/copy_that/infrastructure/cache/redis_cache.py
  tests/unit/test_rate_limiter.py
Due: unit, integration, Infrastructure

Fix integration test fixtures and bcrypt compatibility
  pyproject.toml
  tests/integration/test_auth.py
  tests/integration/test_authorization.py
Due: none

Add /setup slash command for dev environment setup
  .claude/commands/setup.md
Due: none

Add unit tests for authorization functions
  tests/unit/test_authorization.py
Due: none

Add comprehensive unit tests for security and caching modules
  tests/unit/test_authentication.py
  tests/unit/test_rate_limiter.py
  tests/unit/test_redis_cache.py
  tests/unit/test_security_headers.py
Due: none

Fix import sorting in test_authentication.py
  tests/unit/test_authentication.py
Due: none

Format test_redis_cache.py with ruff
  tests/unit/test_redis_cache.py
Due: none

Add Docker and Cloud Run debugging setup
  Dockerfile.debug
  docker-compose.debug.yml
  scripts/debug-cloudrun.sh
Due: none

Add celery module directory structure
  src/copy_that/infrastructure/celery/__init__.py
  src/copy_that/infrastructure/celery/app.py
Due: unit, integration, Infrastructure

Fix PostgreSQL SSL error for local Docker development
  src/copy_that/infrastructure/database.py
Due: unit, integration, Infrastructure

Add Prometheus metrics endpoint for monitoring
  requirements.txt
  src/copy_that/interfaces/api/main.py
Due: unit, integration, API Layer

Add missing prometheus-fastapi-instrumentator dependency
  pyproject.toml
Due: none

Move inline JavaScript to external file for CSP compliance
  static/app.js
  static/index.html
Due: none

Fix datetime timezone mismatch with asyncpg
  src/copy_that/domain/models.py
  src/copy_that/interfaces/api/projects.py
Due: unit, integration, API Layer, Domain Logic

Fix base64 image handling for data URL format
  src/copy_that/application/color_extractor.py
  src/copy_that/application/openai_color_extractor.py
Due: unit, integration, Application Services

Add extractor_used field to show which AI model was used
  src/copy_that/application/color_extractor.py
  src/copy_that/application/openai_color_extractor.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/schemas.py
  static/app.js
Due: unit, integration, API Layer, Application Services

Fix CI checks and remove hardcoded AI model references
  pyproject.toml
  src/copy_that/application/color_extractor.py
  src/copy_that/interfaces/api/schemas.py
  static/index.html
  tests/unit/test_api_schemas.py
  tests/unit/test_domain_models.py
Due: unit, integration, API Layer, Application Services

Add Playwright UI testing and enhance color display
  playwright.config.py
  pyproject.toml
  static/app.js
  static/index.html
  tests/ui/conftest.py
  tests/ui/test_color_extraction.py
Due: none

Consolidate frontend architecture for pipeline parity
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/utils/clipboard.ts
  frontend/src/utils/color.ts
  frontend/src/utils/file.ts
  frontend/src/utils/index.ts
Due: none

Update /setup command with Playwright and frontend install
  .claude/commands/setup.md
Due: none

Replace 'Claude Vision' with generic 'AI Vision' label
  frontend/src/components/LearningSidebar.tsx
Due: none

Add missing package.json and vite.config.ts for React frontend
  frontend/package.json
  frontend/vite.config.ts
Due: none

Fix Vite environment variable syntax (import.meta.env)
  frontend/src/api/client.ts
  frontend/src/components/ImageUploader.tsx
Due: none
