Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 50%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 50%
      - type: patch
        target: 50%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

chore: fix mypy findings
  src/cv_pipeline/control_classifier.py
  src/layout/layout_graph.py
Due: unit, integration

chore: type numpy arrays in primitives
  src/cv_pipeline/primitives.py
Due: unit, integration

feat: expose design tokens from color and spacing APIs
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/spacing.py
  src/core/tokens/spacing.py
  tests/core/tokens/test_spacing_helpers.py
  tests/unit/test_api_schemas.py
Due: unit, integration, API Layer

chore: mark legacy pipeline deprecated and document retirement plan
  README.md
  docs/architecture/legacy_pipeline_retirement.md
  src/copy_that/pipeline/__init__.py
Due: unit, integration

chore: skip legacy pipeline tests and add handoff
  docs/architecture/retire_pipeline_handoff.md
  tests/conftest.py
Due: none

docs: update references after removing legacy pipeline
  docs/architecture/PIPELINE_GLOSSARY.md
  docs/planning/2025-11-21-roadmap.md
  docs/planning/sessions/session-1-preprocessing.md
  docs/planning/sessions/session-1-preprocessor-complete.md
  docs/planning/sessions/session-2-extraction-report.md
  docs/planning/sessions/session-2-extraction.md
  docs/planning/sessions/session-3-aggregation-complete.md
  docs/planning/sessions/session-3-aggregation.md
  docs/planning/sessions/session-4-validation-complete.md
  docs/planning/sessions/session-4-validation.md
  docs/planning/sessions/session-5-generator-complete.md
  docs/planning/sessions/session-5-generator.md
  docs/planning/sessions/session-6-orchestrator-complete.md
  docs/planning/sessions/session-6-orchestrator.md
Due: none

docs: scrub remaining legacy pipeline import mentions
  docs/architecture/PIPELINE_GLOSSARY.md
  docs/planning/sessions/session-0-interfaces-complete.md
Due: none

chore: reuse shared CV preprocessing in color/spacing extractors
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services

test: add spacing CV integration check with shared preprocess
  tests/application/cv/test_spacing_cv_preprocess_integration.py
Due: none

feat: add W3C design token exports to color/spacing APIs
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/spacing.py
  src/core/tokens/spacing.py
  tests/unit/test_api_schemas.py
Due: unit, integration, API Layer

chore: introduce token mappers and use for color W3C export
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/token_mappers.py
Due: unit, integration, API Layer

chore: restore legacy token aggregators as stubs during migration
  src/copy_that/tokens/__init__.py
  src/copy_that/tokens/color/aggregator.py
  src/copy_that/tokens/spacing/aggregator.py
Due: unit, integration

docs: add mermaid token graph flow including legacy deprecation
  docs/architecture/token_graph.md
Due: none

docs: fix mermaid label in token graph diagram
  docs/architecture/token_graph.md
Due: none

docs: fix mermaid syntax for token graph
  docs/architecture/token_graph.md
Due: none

docs: fix mermaid legacy node quoting
  docs/architecture/token_graph.md
Due: none

chore: restore generator modules prior to token-graph migration
  src/copy_that/interfaces/api/sessions.py
Due: unit, integration, API Layer

chore: remove legacy token stubs and update token graph docs
  docker-compose.yml
  docs/architecture/token_graph.md
  docs/backend-analysis/README.md
  docs/planning/token-pipeline-planning/SPACING_TOKEN_PIPELINE_PLANNING.md
  docs/planning/token-pipeline-planning/TOKEN_FACTORY_PLANNING.md
  docs/planning/token-pipeline-planning/reference-implementation/scripts/run_spacing_tests.sh
  docs/sessions/2025-11-20_session5_handoff.md
  docs/workflows/extraction_legacy/readme.md
  pyproject.toml
  src/copy_that/application/batch_extractor.py
  src/copy_that/generators/base_generator.py
  src/copy_that/generators/library_models.py
  src/copy_that/generators/spacing_css_generator.py
  src/copy_that/generators/spacing_html_demo_generator.py
  src/copy_that/generators/spacing_react_generator.py
  src/copy_that/generators/spacing_w3c_generator.py
  src/copy_that/interfaces/api/sessions.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/interfaces/api/token_mappers.py
  src/copy_that/tokens/__init__.py
  src/copy_that/tokens/color/__init__.py
  src/copy_that/tokens/color/aggregator.py
  src/copy_that/tokens/spacing/__init__.py
  src/core/tokens/aggregate.py
  tests/e2e/test_color_pipeline_e2e.py
  tests/integration/test_authorization_integration.py
  tests/unit/generators/test_spacing_generators.py
  tests/unit/generators/test_token_generators.py
  tests/unit/test_batch_extractor.py
  tests/unit/test_color_aggregator.py
  tests/unit/test_constants_integration.py
  tests/unit/test_generators.py
Due: unit, integration, API Layer, Application Services

chore: add service helpers for colors and spacing APIs
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/services/__init__.py
  src/copy_that/services/colors_service.py
  src/copy_that/services/spacing_service.py
Due: unit, integration, API Layer

docs: add backend architecture and test env setup guidance
  docs/architecture/backend_architecture.md
  docs/architecture/test_env_setup.md
Due: none

chore: add project/session services and seed test db
  src/copy_that/interfaces/api/projects.py
  src/copy_that/interfaces/api/sessions.py
  src/copy_that/services/colors_service.py
  src/copy_that/services/projects_service.py
  src/copy_that/services/sessions_service.py
  src/copy_that/services/spacing_service.py
  tests/conftest.py
Due: unit, integration, API Layer

chore: add project/session services and seed test db
  docs/architecture/backend_architecture.md
  tests/conftest.py
Due: none

test: allow TEST_DATABASE_URL bootstrap and seed minimal data
  tests/__init__.py
  tests/conftest.py
  tests/utils/test_db.py
Due: none

chore: add project/session services and seed test db
  docs/architecture/backend_architecture.md
  src/copy_that/generators/library_models.py
  src/copy_that/services/colors_service.py
  tests/conftest.py
Due: unit, integration

chore: add project/session services and seed test db
  src/copy_that/generators/library_models.py
  src/copy_that/services/colors_service.py
Due: unit, integration

Fix TokenLibrary statistics for generator tests
  src/copy_that/generators/library_models.py
Due: unit, integration

chore: centralize spacing CV primitives
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/cv_pipeline/primitives.py
  tests/application/cv/test_spacing_cv_preprocess_integration.py
Due: unit, integration, Application Services

test: add W3C export contract coverage
  src/core/tokens/adapters/w3c.py
Due: unit, integration

test: cover W3C export endpoints
  tests/unit/api/test_w3c_export_contracts.py
Due: none

feat(frontend): hook image upload to backend extraction
  frontend/src/App.css
  frontend/src/App.tsx
Due: none

chore(frontend): compress uploads and improve detail readability
  frontend/src/components/ColorDetailPanel.css
  frontend/src/components/ImageUploader.tsx
  frontend/src/utils/file.ts
Due: none

chore(frontend): fix detail panel overlap and grid layout
  frontend/src/components/ColorTokenDisplay.css
Due: none

feat(color): add OKLCH merge badge
  frontend/src/components/ColorDetailPanel.css
  frontend/src/components/ColorDetailPanel.tsx
  src/copy_that/application/color_utils.py
  src/copy_that/application/tests/test_delta_e_merging.py
Due: unit, integration, Application Services

feat(color): mark background tokens and show badge
  frontend/src/components/ColorDetailPanel.css
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/types/index.ts
  src/copy_that/application/color_extractor.py
  src/copy_that/application/color_utils.py
  src/copy_that/interfaces/api/schemas.py
  tests/unit/test_color_extractor.py
Due: unit, integration, API Layer, Application Services

feat: add spacing base confidence + UI badges
  docker-compose.yml
  frontend/src/components/AdvancedColorScienceDemo.tsx
  frontend/src/components/ColorDetailPanel.css
  frontend/src/components/ColorDetailPanel.tsx
  frontend/src/components/ColorTokenDisplay.css
  frontend/src/types/index.ts
  src/copy_that/application/color_extractor.py
  src/copy_that/application/color_utils.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/multi_extract.py
  src/copy_that/interfaces/api/schemas.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/services/spacing_service.py
  tests/unit/application/test_spacing_utils.py
  tests/unit/interfaces/api/test_multi_extract.py
  tests/unit/test_color_utils.py
Due: unit, integration, API Layer, Application Services

Add token aggregators from token-graph branch
  src/copy_that/tokens/__init__.py
  src/copy_that/tokens/color/__init__.py
  src/copy_that/tokens/color/aggregator.py
  src/copy_that/tokens/spacing/__init__.py
  src/copy_that/tokens/spacing/aggregator.py
Due: unit, integration

Fix token exports and typing
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/tokens/color/aggregator.py
  src/copy_that/tokens/spacing/aggregator.py
Due: unit, integration, API Layer

Sanitize W3C exports
  scripts/export_colors_w3c.sh
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer
