Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

docs: Add comprehensive architecture consolidation, color pipeline guide, and session handoffs
  ARCHITECTURE_QUALITY_ASSESSMENT.md
  COMPREHENSIVE_SYSTEM_ARCHITECTURE.md
  SESSION_HANDOFF_2025_12_10.md
Due: none

docs: Add comprehensive mermaid diagrams for architecture visualization
  ARCHITECTURE_DIAGRAMS.md
Due: none

refactor: Start modular extractors/ reorganization
  REORGANIZATION_PLAN.md
  REORGANIZATION_STATUS_2025_12_10.md
  src/copy_that/extractors/__init__.py
  src/copy_that/extractors/color/__init__.py
  src/copy_that/extractors/color/clustering.py
  src/copy_that/extractors/color/color_spaces.py
  src/copy_that/extractors/color/cv_extractor.py
  src/copy_that/extractors/color/extractor.py
  src/copy_that/extractors/color/openai_extractor.py
  src/copy_that/extractors/color/semantic_naming.py
  src/copy_that/extractors/shadow/__init__.py
  src/copy_that/extractors/shadow/ai_extractor.py
  src/copy_that/extractors/shadow/cv_extractor.py
  src/copy_that/extractors/shadow/extractor.py
  src/copy_that/extractors/spacing/__init__.py
  src/copy_that/extractors/spacing/cv_extractor.py
  src/copy_that/extractors/spacing/extractor.py
  src/copy_that/extractors/spacing/models.py
  src/copy_that/extractors/spacing/utils.py
  src/copy_that/extractors/typography/__init__.py
  src/copy_that/extractors/typography/ai_extractor.py
  src/copy_that/extractors/typography/cv_extractor.py
  src/copy_that/extractors/typography/recommender.py
Due: unit, integration

refactor: Add BaseExtractor abstract base class for all token extractors
  src/copy_that/extractors/base.py
Due: unit, integration

refactor: Add pluggable metrics provider foundation
  METRICS_ARCHITECTURE_REFACTORING_HANDOFF.md
  src/copy_that/services/metrics/__init__.py
  src/copy_that/services/metrics/accessibility.py
  src/copy_that/services/metrics/base.py
  src/copy_that/services/metrics/orchestrator.py
  src/copy_that/services/metrics/quantitative.py
  src/copy_that/services/metrics/registry.py
Due: unit, integration

refactor: Add TokenGraph for generic multi-extractor token architecture
  TOKEN_GRAPH_ARCHITECTURE_COMPLETE.md
  frontend/src/components/image-uploader/ImageUploader.tsx
  frontend/src/components/image-uploader/hooks.ts
  package.json
  pnpm-lock.yaml
  src/copy_that/extractors/color/__init__.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/services/metrics/accessibility.py
  src/copy_that/services/metrics/quantitative.py
  src/copy_that/services/metrics/token_graph.py
Due: unit, integration, API Layer

feat: Add QualitativeMetricsProvider (TIER 3) with AI-powered insights
  src/copy_that/services/metrics/qualitative.py
Due: unit, integration

feat: Add streaming metrics endpoint with SSE
  src/copy_that/interfaces/api/main.py
  src/copy_that/interfaces/api/metrics.py
Due: unit, integration, API Layer

docs: Add session handoff for metrics architecture
  SESSION_HANDOFF_2025_12_10_FINAL.md
Due: none

chore: Remove old handoff documentation
  TOKEN_GRAPH_ARCHITECTURE_COMPLETE.md
Due: none

feat: Add frontend integration for streaming metrics
  frontend/src/components/metrics/MetricsDemo.tsx
  frontend/src/components/metrics/MetricsDisplay.tsx
  frontend/src/shared/hooks/useStreamingMetrics.ts
  frontend/src/shared/index.ts
  frontend/src/types/index.ts
  frontend/src/types/metrics.ts
Due: none

feat: Integrate streaming metrics into main UI
  frontend/src/App.tsx
  frontend/src/components/metrics-overview/StreamingMetricsOverview.tsx
  frontend/src/components/metrics-overview/index.ts
Due: none

docs: Add comprehensive session completion summary
  SESSION_COMPLETE_2025_12_10.md
Due: none

docs: Add Phase 2 multi-extractor implementation plan
  PHASE2_MULTIEXTRACTOR_PLAN.md
Due: none

fix: Resolve streaming metrics bugs and database schema issues
  SESSION_HANDOFF_2025_12_10_BUGFIXES.md
  frontend/src/components/MetricsOverview.tsx
  frontend/src/components/metrics/MetricsDisplay.tsx
Due: none

feat: Phase 2 - Multi-Extractor Foundation (Steps 1-3)
  src/copy_that/extractors/color/base.py
  src/copy_that/extractors/color/orchestrator.py
  src/copy_that/extractors/color/test_orchestrator.py
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

feat: Phase 2.1-2.2 - Extractor Adapters & API Integration
  CLAUDE.md
  PHASE2_SESSION_SUMMARY.md
  SESSION_HANDOFF_2025_12_10_PHASE2.md
  SESSION_HANDOFF_2025_12_10_PHASE2_ADAPTERS.md
  frontend/src/components/PipelineStageIndicator.tsx
  frontend/src/components/ui/progress/ExtractionProgressBar.css
  src/copy_that/extractors/color/adapters.py
  src/copy_that/extractors/color/orchestrator.py
  src/copy_that/extractors/color/test_adapters.py
  src/copy_that/extractors/color/test_orchestrator.py
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer

feat: Phase 2.3-2.4 Complete - E2E Testing & Adapter Pattern Extension
  SESSION_HANDOFF_2025_12_10_PHASE2_4_ADAPTERS.md
  SESSION_HANDOFF_2025_12_10_PHASE2_E2E_TESTING.md
  src/copy_that/extractors/color/test_e2e_multi_extractor.py
  src/copy_that/extractors/shadow/adapters.py
  src/copy_that/extractors/shadow/base.py
  src/copy_that/extractors/shadow/test_adapters.py
  src/copy_that/extractors/spacing/adapters.py
  src/copy_that/extractors/spacing/base.py
  src/copy_that/extractors/spacing/test_adapters.py
  src/copy_that/extractors/typography/adapters.py
  src/copy_that/extractors/typography/base.py
  src/copy_that/extractors/typography/test_adapters.py
Due: unit, integration

feat: Phase 2.5 - Multi-Extractor Orchestrators (Spacing, Typography, Shadow)
  src/copy_that/extractors/shadow/orchestrator.py
  src/copy_that/extractors/shadow/test_orchestrator.py
  src/copy_that/extractors/spacing/__init__.py
  src/copy_that/extractors/spacing/orchestrator.py
  src/copy_that/extractors/spacing/test_orchestrator.py
  src/copy_that/extractors/typography/orchestrator.py
  src/copy_that/extractors/typography/test_orchestrator.py
Due: unit, integration

fix: Add mypy overrides to unblock git push + mood board feature
  CLAUDE.md
  SESSION_HANDOFF_2025_12_10_PHASE2_5_ORCHESTRATORS.md
  docs/MOOD_BOARD_SPECIFICATION.md
  frontend/src/App.tsx
  frontend/src/components/OverviewNarrative.css
  frontend/src/components/image-uploader/ImageUploader.tsx
  frontend/src/components/image-uploader/hooks.ts
  frontend/src/components/overview-narrative/MoodBoard.tsx
  frontend/src/components/overview-narrative/OverviewNarrative.tsx
  frontend/src/components/overview-narrative/hooks.ts
  frontend/src/components/overview-narrative/moodBoardTypes.ts
  frontend/src/components/overview-narrative/types.ts
  frontend/src/components/overview-narrative/useMoodBoard.ts
  pyproject.toml
  src/copy_that/extractors/color/openai_extractor.py
  src/copy_that/extractors/spacing/models.py
  src/copy_that/extractors/spacing/orchestrator.py
  src/copy_that/extractors/spacing/test_orchestrator.py
  src/copy_that/interfaces/api/main.py
  src/copy_that/interfaces/api/mood_board.py
  src/copy_that/services/mood_board_generator.py
  src/copy_that/services/overview_metrics_service.py
  src/copy_that/services/tests/test_overview_metrics_e2e.py
Due: unit, integration, API Layer

docs: Rename handoff document to correct date (2025-12-12)
  SESSION_HANDOFF_2025_12_12_TYPE_ERRORS_MOOD_BOARD.md
Due: none

docs: Root cleanup - archive 33 files, consolidate mood board (69% reduction)
  ARCHITECTURE_CONSOLIDATION.md
  ARCHITECTURE_DIAGRAMS.md
  ARCHITECTURE_QUALITY_ASSESSMENT.md
  ARCHITECTURE_QUICK_REFERENCE.md
  BRANCH_CLEANUP_SESSION_2025_12_08.md
  COLOR_PIPELINE_ANALYSIS.md
  COLOR_PIPELINE_END_TO_END.md
  COLOR_PIPELINE_UNIFIED_ARCHITECTURE.md
  COLOR_PIPELINE_VISUALIZATION_HANDOFF.md
  COMPLETION_STATUS_DETAILED.md
  DEVELOPMENT_STATUS_2025_12_10.md
  FRONTEND_REVIEW_COMPLETE.md
  METRICS_ARCHITECTURE_REFACTORING_HANDOFF.md
  MOOD_BOARD_FEATURE_SUMMARY.md
  ORPHAN_BRANCHES_ANALYSIS.md
  PHASE2_SESSION_SUMMARY.md
  PHASE_2_PIPELINE_VISUALIZATION_HANDOFF.md
  PROJECT_AUDIT_AND_COLOR_PIPELINE_PLAN.md
  REACT_REFACTORING_PRIORITIES.md
  REMOTE_BRANCH_AUDIT.md
  REORGANIZATION_PLAN.md
  REORGANIZATION_STATUS_2025_12_10.md
  ROOT_DOCUMENTATION_CLEANUP_PLAN.md
  SESSION_COMPLETE_2025_12_10.md
  SESSION_COMPLETION_2025_12_10.md
  SESSION_HANDOFF_2025_12_10.md
  SESSION_HANDOFF_2025_12_10_BUGFIXES.md
  SESSION_HANDOFF_2025_12_10_COMPONENT_REFACTOR.md
  SESSION_HANDOFF_2025_12_10_FINAL.md
  SESSION_HANDOFF_2025_12_10_PHASE2.md
  SESSION_HANDOFF_2025_12_10_PHASE2_4_ADAPTERS.md
  SESSION_HANDOFF_2025_12_10_PHASE2_ADAPTERS.md
  SESSION_HANDOFF_2025_12_10_PHASE2_E2E_TESTING.md
  SESSION_HANDOFF_2025_12_12_TYPE_ERRORS_MOOD_BOARD.md
  SHADOW_AUDIT_COMPLETE.md
  SHADOW_WORK_STATUS.md
Due: none

docs: Archive 4 completed root files (10 files remaining)
  DOCUMENTATION_LEGACY_AUDIT_2025_12_12.md
  MOOD_BOARD_FEATURE_SUMMARY.md
  ROOT_DOCUMENTATION_CLEANUP_PLAN.md
  SESSION_HANDOFF_2025_12_12_TYPE_ERRORS_MOOD_BOARD.md
Due: none

docs: Comprehensive cleanup - archive 29 files from docs/ (TIER 1+2)
  DOCS_COMPREHENSIVE_CLEANUP_PLAN.md
  docs/ARCHIVE_INDEX.md
  docs/COMPONENT_REFACTORING_ROADMAP.md
  docs/DOCUMENTATION_INDEX.md
  docs/FRONTEND_SHADOW_SPACING_FIXES.md
  docs/LIGHTING_SHADOWS_E2E_TESTS.md
  docs/PROJECT_STATUS.md
  docs/SHADOW_PIPELINE_IMPLEMENTATION.md
  docs/SHADOW_PIPELINE_SPEC.md
  docs/SHADOW_PIPELINE_VISUAL_GUIDE.md
  docs/SHADOW_TOKENS_COMPLETION.md
  docs/SHADOW_TOKENS_FRONTEND_COMPLETE.md
  docs/SHADOW_TOKENS_IMPLEMENTATION_PLAN.md
  docs/SHADOW_TOKENS_PHASE_1_COMPLETION.md
  docs/SHADOW_TOKEN_FRONTEND_PHASES.md
  docs/configuration/claude_structured_output_usage_archive.md
  docs/copy-that-code-review-issues.md
  docs/guides/SPACINGTOKENSHOW CASE_REFACTORING_COMPLETE.md
  docs/planning/2025-11-21-prd.md
  docs/planning/2025-11-21-roadmap.md
  docs/planning/DIAGNOSTICS_PANEL_REFACTORING_PLAN.md
  docs/planning/EXTRACTION_IMPROVEMENTS.md
  docs/planning/IMMEDIATE_ACTION_ITEMS.md
  docs/planning/METRICS_QUICK_REFERENCE.md
  docs/planning/METRICS_SOURCE_BADGES.md
  docs/planning/METRICS_SOURCE_BADGES_README.md
  docs/planning/TIER_2_REFACTORING_PLAN.md
  docs/roadmap/2025-11-22-integration-enforcement-report.md
  docs/workflows/phase_4_color_vertical_slice.md
  docs/workflows/phase_4_completion_status.md
Due: none

docs: Archive 2 completed planning docs - root now 9 essential files
  DOCS_COMPREHENSIVE_CLEANUP_PLAN.md
  DOCUMENTATION_CONSOLIDATION_PLAN.md
Due: none

fix: Fix mypy type error in Color constructor call
  docs/CI_BADGE_GREEN_PLAN.md
  src/copy_that/extractors/color/color_spaces.py
Due: unit, integration

fix: Fix duplicate index in alembic migration + add Neon Terraform
  .vscode/extensions.json
  INFRASTRUCTURE_RECOMMENDATION.md
  SESSION_HANDOFF_2025_12_12_CI_BADGES.md
  alembic/versions/2025_12_01_add_additional_fk_indexes.py
  deploy/terraform/main.tf
  deploy/terraform/neon.tf
  deploy/terraform/variables.tf
Due: none

feat: Add fast development workflow system
  FAST_DEVELOPMENT_WORKFLOW.md
  Makefile
Due: none

fix: Allow deploy/local in Docker build context for nginx.conf
  .dockerignore
Due: none

docs: Add session summaries and stack optimization analysis
  SESSION_COMPLETE_2025_12_12_CI_WORKFLOW.md
  STACK_OPTIMIZATION_NEON_UPSTASH_CELERY.md
Due: none

fix: Remove duplicate ix_token_libraries_session_id index from alembic migration
  README.md
  alembic/versions/2025_12_01_add_additional_fk_indexes.py
Due: none

fix: Fix pnpm lock file compatibility and GitHub runner disk space
  .env.example
  .github/workflows/build.yml
  package.json
Due: none

fix: Remove hardcoded pnpm version from CI workflows
  .github/workflows/ci-tiered.yml
Due: none

refactor: Consolidate Terraform to deploy/terraform/ (single source of truth)
  INFRASTRUCTURE_RECOMMENDATION.md
  docs/setup/gcp_terraform_deployment.md
  terraform/DEPRECATED.md
  terraform/README.md
  terraform/main.tf
  terraform/outputs.tf
  terraform/provider.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: none

docs: Rewrite README with visual diagrams and clear structure
  README.md
Due: none

fix: Fix ESLint async onClick errors in frontend components
  frontend/src/components/AdvancedColorScienceDemo.tsx
  frontend/src/components/LightingAnalyzer.tsx
Due: none

docs: Add visual examples gallery with web-optimized images
  README.md
  docs/examples/aesthetics/lpi-input.jpg
  docs/examples/aesthetics/retro-synth-render.png
  docs/examples/aesthetics/rpi-input.jpg
Due: none

Path conditions:
  unit: any of: src/
  integration: any of: src/
  API Layer: any of: src/copy_that/interfaces/api/**
  Domain Logic: any of: src/copy_that/domain/**
  Application Services: any of: src/copy_that/application/**
  Infrastructure: any of: src/copy_that/infrastructure/**
