Repository joshband/copy-that: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, API Layer, Domain Logic, Application Services, Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 5%
        if_ci_failed: error
    patch:
      default:
        target: 50%
        threshold: 5%

# Define coverage flags for different test types
flag_management:
  default_rules:
    carryforward: true
    statuses:
      - type: project
        target: 50%
      - type: patch
        target: 50%

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - src/
    carryforward: true

# Define components for module-level reporting
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: api
      name: API Layer
      paths:
        - src/copy_that/interfaces/api/**
    - component_id: domain
      name: Domain Logic
      paths:
        - src/copy_that/domain/**
    - component_id: application
      name: Application Services
      paths:
        - src/copy_that/application/**
    - component_id: infrastructure
      name: Infrastructure
      paths:
        - src/copy_that/infrastructure/**

comment:
  layout: "reach,diff,flags,components,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

Add restart helper for dev stack
  scripts/restart_dev_stack.sh
Due: none

Allow export script to dump file
  scripts/export_colors_w3c.sh
Due: none

Stub CSS for vitest
  frontend/src/test/__mocks__/styleMock.ts
  frontend/vite.config.ts
Due: none

Add Playwright e2e coverage
  frontend/playwright.config.ts
  frontend/tests/playwright/homepage.spec.ts
  package.json
  pnpm-lock.yaml
  scripts/run_playwright_e2e.sh
Due: none

Add extraction e2e and export verification
  frontend/tests/playwright/extraction.spec.ts
  frontend/tests/playwright/fixtures/sample.png
  scripts/export_spacing_w3c.sh
  scripts/run_playwright_e2e.sh
  scripts/verify_export_tokens.sh
Due: none

Fix mypy and spacing export, add debug typing
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/debug_color.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/shadow_extractor.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/shadows.py
  src/core/tokens/adapters/w3c.py
Due: unit, integration, API Layer, Application Services

Handle MagicMock AI results in color extract endpoint
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/shadows.py
Due: unit, integration, API Layer, Application Services

Tighten typing for accent handling and shadows stub
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/shadows.py
Due: unit, integration, API Layer, Application Services

Add CV spacing base cross-check diagnostics and synthetic gap test
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  tests/unit/application/test_spacing_inference.py
Due: unit, integration, API Layer, Application Services

Adjust synthetic spacing gap fixture to match CV quantization
  tests/unit/application/test_spacing_inference.py
Due: none

Stabilize CV extraction after cleanup
  pyproject.toml
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/debug_color.py
  src/copy_that/interfaces/api/colors.py
  tests/unit/application/test_spacing_inference.py
  tests/unit/application/test_superpixel_palette.py
Due: unit, integration, API Layer, Application Services

Add connected-component spacing primitives
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/cv_pipeline/primitives.py
  tests/unit/application/test_gap_extraction.py
Due: unit, integration, Application Services

Add CV spacing/grid inference and frontend diagnostics
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/types/index.ts
  src/copy_that/application/cv/grid_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/colors.py
  src/copy_that/interfaces/api/spacing.py
  src/copy_that/services/spacing_service.py
  tests/unit/application/test_grid_detection.py
  tests/unit/application/test_spacing_base_inference.py
  tests/unit/application/test_spacing_cv_extractor.py
  tests/unit/application/test_spacing_utils.py
Due: unit, integration, API Layer, Application Services

Fix mypy warnings in spacing grid extractors
  src/copy_that/application/cv/grid_cv_extractor.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/interfaces/api/colors.py
Due: unit, integration, API Layer, Application Services

Add k-means segmentation palette to CV color extractor
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

Expose segmented color palette via API stream and UI
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/ImageUploader.tsx
  frontend/src/types/index.ts
Due: none

Silence kmeans type overload in CV color extractor
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

Snap spacing gaps using distance transform and Hough guides
  src/copy_that/application/cv/spacing_cv_extractor.py
  tests/unit/application/test_gapmap_snap.py
Due: unit, integration, Application Services

Improve color debug overlays and add smoke test
  src/copy_that/application/cv/color_cv_extractor.py
  src/copy_that/application/cv/debug_color.py
  tests/unit/application/test_color_overlay_smoke.py
Due: unit, integration, Application Services

Fix mypy complaint in color debug overlay
  src/copy_that/application/cv/debug_color.py
Due: unit, integration, Application Services

Add spacing debug overlay and improve padding heuristics
  src/copy_that/application/cv/debug_spacing.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  tests/unit/application/test_gapmap_snap.py
Due: unit, integration, Application Services

test: make spacing dummy sliceable and guard padding inference
  src/copy_that/application/cv/spacing_cv_extractor.py
  tests/unit/application/test_spacing_cv_extractor.py
Due: unit, integration, Application Services

fix: mypy-safe kmeans criteria in CV color segmentation
  src/copy_that/application/cv/color_cv_extractor.py
Due: unit, integration, Application Services

ui: widen color tokens, align panel heights, and remove palette scroll
  frontend/src/App.css
  frontend/src/components/ColorTokenDisplay.css
Due: none

ui: add spacing debug overlay toggle and type wiring
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/types/index.ts
Due: none

ui: add color diagnostics toggle and relocate max-colors slider
  frontend/src/App.tsx
  frontend/src/components/ColorTokenDisplay.tsx
  frontend/src/components/ImageUploader.css
  frontend/src/components/ImageUploader.tsx
Due: none

api: include spacing debug overlay in response
  src/copy_that/interfaces/api/spacing.py
Due: unit, integration, API Layer

Add diagnostics warnings and token inspector
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/DiagnosticsPanel.css
  frontend/src/components/DiagnosticsPanel.tsx
  frontend/src/components/ImageUploader.css
  frontend/src/components/ImageUploader.tsx
  frontend/src/components/TokenInspector.css
  frontend/src/components/TokenInspector.tsx
  frontend/src/types/index.ts
  scripts/restart_dev_stack.sh
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  tests/unit/application/test_spacing_utils_diagnostics.py
  tests/unit/interfaces/test_spacing_response_warnings.py
Due: unit, integration, API Layer, Application Services

Add region-based color sampling to spacing components
  frontend/src/components/TokenInspector.css
  frontend/src/components/TokenInspector.tsx
  frontend/src/types/index.ts
  src/copy_that/application/color_utils.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  tests/unit/application/test_region_colors.py
Due: unit, integration, Application Services

Add Playwright UI guardrail tests and CTA tweaks
  frontend/playwright.config.ts
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/tests/playwright/ui_redundancy.spec.ts
Due: none

Expose spacing alignment diagnostics in UI
  frontend/src/components/DiagnosticsPanel.css
  frontend/src/components/DiagnosticsPanel.tsx
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  tests/unit/application/test_alignment_detection.py
Due: unit, integration, API Layer, Application Services

Add alignment overlay toggle to diagnostics panel
  frontend/src/components/DiagnosticsPanel.css
  frontend/src/components/DiagnosticsPanel.tsx
Due: none

Expose spacing API payload and alignment overlay toggle
  frontend/src/components/DiagnosticsPanel.css
  frontend/src/components/DiagnosticsPanel.tsx
  frontend/src/types/index.ts
Due: none

Gate diagnostics payload and overlays behind debug toggle
  frontend/src/components/DiagnosticsPanel.tsx
  frontend/src/components/TokenInspector.tsx
Due: none

Add token graph containment and debug visibility
  frontend/src/App.tsx
  frontend/src/components/DiagnosticsPanel.css
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  tests/unit/application/test_token_graph.py
Due: unit, integration, API Layer, Application Services

Add regression harness with fixture manifest scaffold
  docs/testing/ui_regression.md
  tests/regression/fixtures/README.md
  tests/regression/fixtures/manifest.json
  tests/regression/test_ui_regression_manifest.py
  tests/regression/test_ui_regression_synthetic.py
Due: none

Add UIED ensemble and token graph visualization
  .gitignore
  CHANGELOG.md
  README.md
  frontend/src/App.tsx
  frontend/src/components/DiagnosticsPanel.css
  frontend/src/components/DiagnosticsPanel.tsx
  frontend/src/components/TokenGraphPanel.css
  frontend/src/components/TokenGraphPanel.tsx
  frontend/src/components/TokenInspector.css
  frontend/src/components/TokenInspector.tsx
  frontend/src/types/index.ts
  pyproject.toml
  src/copy_that/application/cv/fastsam_segmenter.py
  src/copy_that/application/cv/layout_text_detector.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/cv/uied_integration.py
  src/copy_that/application/multimodal_orchestrator.py
  src/copy_that/application/spacing_models.py
  src/copy_that/application/spacing_utils.py
  src/copy_that/interfaces/api/spacing.py
  tests/unit/application/test_fastsam_segmenter.py
  tests/unit/application/test_layout_text_detector.py
Due: unit, integration, API Layer, Application Services

Fix mypy issues for UIED integration
  src/copy_that/application/cv/layout_text_detector.py
  src/copy_that/application/cv/spacing_cv_extractor.py
  src/copy_that/application/multimodal_orchestrator.py
Due: unit, integration, Application Services

Address mypy issues in orchestrator and spacing extractor
  src/copy_that/application/cv/spacing_cv_extractor.py
Due: unit, integration, Application Services
